{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
	  <div class="alert alert-danger myadmin-alert">  
	  	     <button type="button" aria-hidden="true" class="close">
                    <i class="material-icons">close</i>
                        </button>
		    {% for error in errors %}
		       <i class="text-white fa fa-error"></i>&nbsp;<strong>{{ error.message }}</strong>
	        {% endfor %}
	    	
	    </div>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
    {%- for child in form %}
       <div class="checkbox col-lg-3" style="margin-top:0px !important;">
            <label>
    		{{- form_widget(child) -}}
        	{{- form_label(child, null, {translation_domain: choice_translation_domain, is_child: true}) -}}
    	</label>
    </div>
    {% endfor -%}
    </div>
{%- endblock choice_widget_expanded -%}