{% extends 'layoutFront.html.twig' %}
{% block block_no_filter %}
         <section style="overflow: hidden;" class="content-center main-login main-center">

                        {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}
							<div class="form-group">
						
								<div class="cols-sm-10">
										        {{form_widget(form.name)}}   
								</div>
							</div>
							<div class="form-group">
							
								<div class="cols-sm-10">
									
										{{form_widget(form.phone)}} 
								
								</div>
							</div>
							<div class="form-group">
							
								<div class="cols-sm-10">
								
										
										{{form_widget(form.activity)}} 
								
								</div>
							</div>


							<div class="form-group ">
								<button type="submit" class="btn btn-primary btn-lg btn-block login-button">Envoyé</button>
							</div>
				
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}
                
          </section>
{% endblock %}
        