{% extends '::layoutFront.html.twig' %}

{%- block title -%}77maroc | erreur{%- endblock -%}
	{% block body %}
		<section id="wrapperErrorMain" xmlns="http://www.w3.org/1999/html">
 <p class="logo">
 	<a href="/"><img src="{{ asset('images/logo_ttitle.png')}}"></a></p>
        <div class="container">
            <p class="text-center"><img src="{{ asset('img/erreur.png') }}"></p>
            <h2 class="text-center">La page que vous avez demandé est introuvable .&nbsp;&nbsp;</h2>
            <p class="text-center"><a class="btn btn-default"  href="/">Retourner à la page d'accueil</a></p>
        </div>
    </section>
      
	 
{% endblock %}

