{% extends '::Default/Spaces/Normal/NormalLyout.html.twig' %}


                {% block normal_holder %}
    

						 <div class="espace-content">

								    		{{form_start(form,{'attr':{'class':'form-horizontal'}}) }}


									<div class="form-row">
									    <div class="form-group col-md-12">
									      <label for="inputEmail4">{{ 'espaces.form.name'|trans }}</label>
									        {{form_widget(form.lastName, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.nom'|trans} })}} 
									    </div>
									</div>
									   <div class="form-row">
           										
	           								<div class="form-group col-md-6">
												   
												  	 	<label for="inputAddress">{{ 'espaces.form.phone'|trans }}</label>
												        {{form_widget(form.phone, { 'attr': {'class' : "form-control",'placeholder' : 'espaces.form.phone'|trans} })}} 
												   
										  </div>
									      <div class="form-group col-md-6">
										  	 
	    											  <label for="inputAddress">{{ 'espaces.form.email'|trans }}</label>
										             {{form_widget(form.email, { 'attr': {'disabled':'true','class' : "form-control",'placeholder' : 'espaces.form.email'|trans} })}} 
										  	  
									      </div>
									 
									  </div>
										 <div class="form-row">
								               <div class="form-group">
													<button type="submit" class="btn btn-primary  btn-lg login-button center-block" style="width: 50%;">{{ 'espaces.form.submit'|trans }}</button>
												</div>
										 </div>
		                       
		                        
		                	 {{ form_row(form._token) }}
		                     {{ form_end(form, {'render_rest': false}) }}

					</div>

                
                          

                {% endblock %}