{% extends '::Default/Spaces/Normal/NormalLyout.html.twig' %}
 {% block normal_holder %}
<section class="content-center ">
    <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
     </div>
    {% if type=="actives" %}
    <h3>{{ numberofads }}/{{ numberOfAdsAllowed }} {{ 'espaces.list_annonce.active'|trans }}</h3> {% endif %}
    <section id="listingAds" class="grid-3-1">
        <section class="list mainList tabs" style="width: 100%;">
            <section class="tabsContent block-white dontSwitch">
                <ul>
                    <div>
                        {% if ads|length == 0 %}
                        <h1 class="display-4 text-center">{{ 'annonces.aucune_annonce_trouve'|trans }}</h1> {% endif %} {% for ad in ads %}
                        <li>
                            <a style="position:relative;" href="{{ path('detail_ad',{'slug':ad.slug})}}" class="list_item clearfix trackable {{ (ad.attractive) ? 'attractive' : '' }}">
	                         
							  <i class="ads-status {{ app.request.get('type') }} fa fa-dot-circle-o" aria-hidden="true"></i>
							    <div class="item_image">
	                                

	                                <span class="item_imagePic" style="background:url('{{ asset('plugins/front/img/no-picture.png') }}') center no-repeat;">
	                                           </span>
	                            </div>
	                            <section class="item_infos">
	                                <h2 class="item_title" itemprop="name">{{ ad.id }} ---- {{ ad.title }}</h2>
	                                <p class="item_supp" itemprop="category" content="Mat&eacute;riel Agricole">
	                                    {{ ad.title }}
	                                </p>
	                                <p class="item_supp">
	                                    {{ 'espaces.list_annonce.categorie'|trans }} : {{ ad.category }}
	                                   
	                                </p>
	                                <meta itemprop="priceCurrency" content="EUR" />
	                          
	                                    <p class="item_supp" itemprop="availabilityStarts" content="2018-02-25">
	                                        <span class="text-primary">{{ad.createdAt|date('Y-m-d H:i:s')}}</span>
	                                    </p>
	                                    {% if type=="actives" %} 
	                                        		 <button  onclick="window.location.href='{{ path('normal_disable_ad',{ 'id': ad.id }) }}'" class="btn btn-primary btn-rounded btn-sm my-0 btn-disable">{{ 'espaces.list_annonce.desactive'|trans }}</button>
                                        {% endif %}
                                        {% if type=="inactives" %}       
	                                        		 <button  onclick="window.location.href='{{ path('normal_enable_ad',{ 'id': ad.id }) }}'" class="btn btn-primary btn-rounded btn-sm my-0 btn-disable">{{ 'espaces.list_annonce.activer'|trans }}</button>
                                        {% endif %}
 
	                          

	                            </section>
	                        </a>
                        </li>
                        {% endfor %}
                    </div>
                </ul>
            </section>
            <footer class="pagination clearfix">
                {{ knp_pagination_render(ads) }}
            </footer>
        </section>
    </section>
</section>
{% block specifics_javascripts %}
<script>
$(".btn-disable").on('click', function() {
    $(this).parents('a').on('click', function(e) {

        return false;
    });
});
</script>
{% endblock %} {% endblock %}