{% extends 'layoutFront.html.twig' %} 

    {% block block_no_filter %}

<section class="content-center buypack">


  <div class="row">
    	{% include 'FlashMessages/FlashMessages.html.twig'%}
  </div>
 
  <h3 style="display: inline-block;">{{ 'payment_page.message.recharge_acount'|trans }}</h3>
 
 
  <h3 class="total-price">{{ 'espaces.votre_solde'|trans }} : {{ app.user.solde }},00 {{ 'global.devise'|trans }}</h3> 


<div class="col-xs-6" style="padding: 10px;margin-bottom: 26px;">
        
    <form action="/action_page.php">
            <div class="form-group">
                <label for="text">Prénom</label>
                <input type="text" class="form-control" placeholder="Prénom" >
            </div>
            <div class="form-group">
                <label for="text">Nom</label>
                <input type="text" class="form-control" placeholder="Nom" >
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="phone">Telephone</label>
                <input type="text" class="form-control" placeholder="Telephone">
            </div>
            
            
                        <button style="color: #fff;background-color: #0183D5;margin: auto;display: block;font-weight: 600;" type="submit" class="btn btn-default">Envoyé</button>
    </form>
            
</div> 

        <div class="col-xs-6" style="font-weight: bold;padding-top: 28px;">

          <img style="margin: auto;display: block;" src="{{ asset('plugins/front/img/card.png')}}">
          <p style="    padding: 34px;text-align: center;font-size: 19px;">
               Payez en toute sécurité avec votre carte bancaire sur  77maroc.ma
 
          </p>
              

        </div>


     </section>

  {% endblock %}
 