{% set _routes = ['after_renew_index', 'thankyou_index','after_attractivead_index','recharge_account_choose_payment_methode_index','showroomrequest_index'] %}
<footer id="footer" class="{{ app.request.attributes.get('_route') in _routes ? 'for-small-content' : '' }}" role="contentinfo">
<style type="text/css">
#footer_content ul li a{
    font-size: 14px;
    color: #fff !important;
    font-family: "gotham_lightregular";
    line-height: 24px;
    padding-left: 10px;
}
</style>
<section class="footer_content " id="footer_content" style="background:#61304b ;color:white;padding-bottom:0px;">
    <div class="container">
      <div class="row hidden-xs">
      <div class="col-lg-12">
        <ul class="list-inline">
          <li> <a href="{{path('page_aide')}}"> Aide</a></li>
          <li> <a href="{{path('page_achat_securise')}}">Achat sécurisé</a></li>
          <li>  <a href="{{path('page_reglement')}}">Règlement</a></li>
          <li> <a href="{{path('page_publicite')}}">Publicité</a></li>
          <li> <a href="{{path('page_qui_nous_somme')}}">Qui sommes-nous ?</a></li>
        </ul>
      </div>
   

    </div>
    <div class="row">
      <div class="col-lg-11 text-center">
        <p class="text-lead"> <strong>Copyright © 2018.Tout les droit réservé à 77maroc</strong></p>
      </div>
       <div class="col-lg-1 text-right">
        <ul class="list-inline">
          <li> <a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
        </ul>
      </div>
              
     </div>

       
</section>
</footer>
