

      <header id="header" role="banner" class="no-fix ">
                <section class="headerContent">

                    <section class="content-center clearfix">
                        <a class="displayMenu button-white-mobile custom-large-hidden">{{ 'header.menu'|trans }}<span class="newMessagesNotif"></span></a>

                        <a href="/" class="logo-site trackable" ></a>
                        <nav class="headerNav" role="navigation">
                            <!-- LOGO -->
                            <a href="#" class="logo-site trackable custom-large-hidden"></a>

                            <p class="logo-site hidden"></p>
                            <!-- MENU DESKTOP -->
                            <ul class="headerNav_main">

                               <li ><a class="new-add" href="{{ path('dipost_ad')}}" class="{% if app.request.attributes.get('_route') == 'dipost_ad'%}active {% endif %}trackable">{{ 'header.deposer_annonce'|trans }}</a></li>
                                {# <li><a href="{{ path('homepage')}}" class="{% if app.request.attributes.get('_route') == 'homepage'%}active {% endif %}trackable">{{ 'header.accueil'|trans }}</a></li> #}
                                <li><a href="{{ path('ads_page')}}" class="{% if app.request.attributes.get('_route') == 'ads_page'%}active {% endif %}trackable">{{ 'header.annonces'|trans }}</a></li>
                                <li><a href="{{ path('showroompage') }}" class="trackable">{{ 'header.vitrines'|trans }}</a></li>

                               
                              
                                <li class="custom-large-hidden">
                                     {% if app.user %}
                                      <a href="{{path('account_logout')}}" class="popin-hideHoverlay popin-open custom-large-hidden trackable"><i class="fa fa-sign-out"></i>Se déconnecter</a>
                                       {% else %}
                                       <a href="{{ path('account_login')}}" class="popin-hideHoverlay popin-open custom-large-hidden trackable"><i class="fa fa-sign-in"></i>{{ 'header.seconnecter'|trans }}</a>
                                     {% endif %}
                                   
                                </li>

                                <li class="custom-large-hidden">
                                    <a href="{{ path('dipost_ad')}}" class="popin-hideHoverlay popin-open custom-large-hidden trackable">
                                        <i class="fa fa-plus-square-o"></i>&nbsp;{{ 'header.deposer_annonce'|trans }}</a>
                                </li>
                                
                                <li class="custom-large-hidden"><a href="#" title="Informations pratiques" class="showFooterLinks">Informations pratiques<i class="icon-chevron-right icon-2x nomargin"></i></a></li>

                               
                               
                            </ul>

                            <nav class="headerNav_footer hidden">
                                <ul>


                                    <li><a href="{{path('page_aide')}}" title="" class="hideFooterLinks"><i class="icon-chevron-left icon-2x"></i>Aide</a></li>
                                     <li><a href="{{path('page_achat_securise')}}" title="" class="hideFooterLinks"><i class="icon-chevron-left icon-2x"></i>Achat sécuris</a></li>
                                    <li><a href="{{path('page_reglement')}}" title="" class="hideFooterLinks"><i class="icon-chevron-left icon-2x"></i>Règlement</a></li>
                                    <li><a href="{{path('page_publicite')}}" title="" class="hideFooterLinks"><i class="icon-chevron-left icon-2x"></i>Publicité</a></li>
                                     <li><a href="{{path('page_qui_nous_somme')}}" title="" class="hideFooterLinks"><i class="icon-chevron-left icon-2x"></i>Qui sommes-nous ?</a></li>
                                    
                           

                                </ul> 
                            </nav>
                        </nav>

      <aside class="header_aside clearfix">
        <span class="searchbar toggleElement button-white-mobile custom-large-hidden" data-element="" data-elementhide="customSelect_categories" data-toggleclass="searchbar-open"><i class="fa fa-search" aria-hidden="true"></i></span>
    </aside>               
<aside class="header_aside clearfix">
            

                    {% if app.user %}
                                                <article class="myAccount custom-small-hidden">
                                                      <nav class="myAccount_nav">
                                                      
                                               {#          <a href="{{ (app.user.accounttype.id == 2) ? path('annonces_liste_index') : path('annonces_liste_index') }}" class="trackable"><span>Mes annonces</span></a> #}
                                                        
                                                        <a href="{{ (app.user.accounttype.id == 2) ? path('vitrine_info_index') : path('mes_info_index') }}" title="Se déconnecter" class="red trackable logout-action">{{ 'header.mes_info'|trans }}</a>
                                                        <a href="{{ path('account_logout')}}" title="Se déconnecter" class="red trackable logout-action">{{ 'header.sedeconnecter'|trans }}</a>
                                                        
                                                      
                                                      </nav>
                                                      <div class="clearfix">
                                                        <button class="toggleElement button-flat button-secondary" data-element="myAccount_nav">
                                                          <div><i class="fa fa-user" aria-hidden="true"></i></div>
                                                          
                                                         <div class="nickname">{{ app.user.firstname }}</div>  
                                                        </button>
                                                        <input id="accountCredits" value="0" type="hidden">
                                                      </div>
                                                 </article>
                      {% else %}
                                            
          {# <article class="myAccount custom-small-hidden">
            <div class="clearfix">
              <button class="toggleElement button-flat button-secondary" data-element="myAccount_nav">
                <div><i style="margin-left: -10px;" class="fa fa-user" aria-hidden="true"></i></div>
             
                <a style="color: inherit;text-decoration: inherit;" href="{{ path('account_login')}}">    <div class="nickname">{{ 'header.seconnecter'|trans }}</div> </a>
              </button>
              <input id="accountCredits" value="0" type="hidden">
            </div>
            
           
          </article> #}


                                            <article class="myAccount custom-small-hidden">
                                                      <nav class="myAccount_nav">
                                                      
                                               {#          <a href="{{ (app.user.accounttype.id == 2) ? path('annonces_liste_index') : path('annonces_liste_index') }}" class="trackable"><span>Mes annonces</span></a> #}
                                                        
                                                        <a href="{{ path('account_login')}}" title="Se déconnecter" class="red trackable">{{ 'login.login_showroom'|trans }}</a>
                                                        <a href="{{ path('account_login')}}" title="Se déconnecter" class="red trackable normal_login">{{ 'login.login_normal'|trans }}</a>
                                                        
                                                      
                                                      </nav>
                                                      <div class="clearfix">
                                                        <button class="toggleElement button-flat button-secondary" data-element="myAccount_nav">
                                                          <div><i class="fa fa-user" aria-hidden="true"></i></div>
                                                          
                                                         <div class="nickname">{{ 'header.seconnecter'|trans }}</div>  
                                                        </button>
                                                        <input id="accountCredits" value="0" type="hidden">
                                                      </div>
                                                 </article>


        {% endif %}
            <ul id="language-selector">
            {% if app.request.attributes.get('_route') != 'fos_user_resetting_reset' %}
                {% if path(app.request.attributes.get('_route')) == '/' %}
                          {% if app.request.attributes.get('_locale') == 'fr' %}
                                <li><a href="{{ path("homepage", {"_locale": "ar"}) }}">AR</a></li>
                      {% endif %}
                      {% if app.request.attributes.get('_locale') == 'ar' %}
                            <li><a href="{{ path("homepage", {"_locale": "fr"}) }}">FR</a></li>
                      {% endif %}   
                {% else %}
                          {% if app.request.attributes.get('_locale') == 'fr' %}
                                 <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'ar'})) }}">AR</a></li>
                      {% endif %}
                      {% if app.request.attributes.get('_locale') == 'ar' %}
                                 <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}">FR</a></li>            
                      {% endif %}   
                {% endif %}
            {% endif %}
            
            </ul>

</aside>



                        <div class="headerEmpty_content">
                            <a class="displayMenu button-white-mobile custom-large-hidden hidden">MENU</a>
                            <p class="logo-site"></p>

                            <a href="/" title="Retour" class="linkBack custom-small-hidden"><i class="icon-chevron-left"></i>Retour</a>
                        </div>
                    </section>
                </section>
            </header>