<div class="form-group">	
<label class="text-primary">Ville :<strong>*</strong></label>
<select class="form-control col-lg-6" name="ville"   id="select-principal-city" required>
	 <option selected value disabled  style="font-weight:bold;text-transform: uppercase;">--Selectioner ville--</option>	
	{% for city in citys %}
			<option value="{{city.name}}">{{city.name}}</option>
	{% endfor %}
</select>
</div>
<div class="form-group">
<label class="text-primary">Secteur :<strong>*</strong></label>
<select class="form-control col-lg-6" name="secteur" id="select-principal-secteur" required="required">
	 <option selected value disabled  style="font-weight:bold;text-transform: uppercase;">--Selectioner secteur--</option>	
	{% for dist in District %}
			<option value="{{dist.name}}" data-parent="{{dist.city.id}}" style="display:none;">{{dist.name}}</option>
	{% endfor %}
</select>
</div>

