<div class="form-group" style="margin-bottom:10px; ">
    <label class="col-sm-3 text-primary" for="categories"><strong>Categorie :*</strong></label>
    <div class="col-sm-9 ">
        <select name="categories" id="categories" class="form-control" required="required">
            <option disabled selected></option>
            <option disabled id="father-tree" value="INFORMATIQUE_ET_MULTIMEDIA">-- INFORMATIQUE ET MULTIMEDIA --</option>
            <option data-father-cat="informatique_et_multimedia" value="Téléphones">Téléphones</option>
            <option data-father-cat="informatique_et_multimedia" value="Tablettes">Tablettes</option>
            <option data-father-cat="informatique_et_multimedia" value="Ordinateurs_portables">Ordinateurs portables</option>
            <option data-father-cat="informatique_et_multimedia" value="Ordinateurs_de_bureau">Ordinateurs de bureau</option>
            <option data-father-cat="informatique_et_multimedia" value="Accessoires_informatique_et_Gadgets">Accessoires informatique et Gadgets</option>
            <option data-father-cat="informatique_et_multimedia" value="Jeux_vidéo_et_Consoles">Jeux vidéo et Consoles</option>
            <option data-father-cat="informatique_et_multimedia" value="Appareils_photo_et_Caméras">Appareils photo et Caméras</option>
            <option data-father-cat="informatique_et_multimedia" value="Télévisions">Télévisions</option>
            <option data-father-cat="informatique_et_multimedia" value="Image_SON">Image &amp; Son</option>
            <option disabled id="father-tree" value="VEHICULES">-- VEHICULES --</option>
            <option data-father-cat="vehicule" value="Voitures">Voitures</option>
            <option data-father-cat="vehicule" value="Motos">Motos</option>
            <option data-father-cat="vehicule" value="Vélos">Vélos</option>
            <option data-father-cat="vehicule" value="Véhicules_Professionnels">Véhicules Professionnels</option>
            <option data-father-cat="vehicule" value="Bateaux">Bateaux</option>
            <option data-father-cat="vehicule" value="Pièces_et_Accessoires_pour_véhicules">Pièces et Accessoires pour véhicules</option>
           
            <option disabled id="father-tree" value="1000">-- IMMOBILIER --</option>
             <option data-father-id="immobilier" value="Appartements">Appartements</option>
            <option data-father-id="immobilier" value="Maisons_et_Villas">Maisons et Villas</option>
            <option data-father-id="immobilier" value="Bureaux_et_Plateaux">Bureaux et Plateaux</option>
            <option data-father-id="immobilier" value="Magasins_Commerces_et_Locaux_industriels">Magasins, Commerces et Locaux industriels</option>
            <option data-father-id="immobilier" value="Terrains_et_Fermes">Terrains et Fermes</option>
            <option data-father-id="immobilier" value="Locations_de_vacances">Locations de vacances</option>
            <option data-father-id="immobilier" value="Colocations">Colocations</option>
            <option data-father-id="immobilier" value="Autre_Immobilier">Autre Immobilier</option>
            <option disabled id="father-tree" value="POUR_LA_MAISON_ET_JARDIN">-- POUR LA MAISON ET JARDIN --</option>
            <option data-father-cat="maison_et_jardin" value="Electroménager_et_Vaisselles">Electroménager et Vaisselles</option>
            <option data-father-cat="maison_et_jardin" value="Meubles_et_Décoration">Meubles et Décoration</option>
            <option data-father-cat="maison_et_jardin" value="Jardin_et_Outils_de_bricolage">Jardin et Outils de bricolage</option>
            <option disabled id="father-tree" value="HABILLEMENT_ET_BIEN_ETRE">-- HABILLEMENT ET BIEN ETRE --</option>
                        <option data-father-cat="habillement" value="Vêtements">Vêtements</option>
            <option data-father-cat="habillement" value="Chaussures">Chaussures</option>
            <option data-father-cat="habillement" value="ontres_et_Bijoux">Montres et Bijoux</option>
            <option data-father-cat="habillement" value="Sacs_et_Accessoires">Sacs et Accessoires</option>
            <option data-father-cat="habillement" value="Vêtements_pour_enfant_et_bébé">Vêtements pour enfant et bébé</option>
            <option data-father-cat="habillement" value="Equipements_pour_enfant_et_bébé">Equipements pour enfant et bébé</option>
            <option data-father-cat="habillement" value="Produits_de_beauté">Produits de beauté</option>

            <option disabled id="father-tree" value="LOISIRS_ET_DIVERTISSEMENT">-- LOISIRS ET DIVERTISSEMENT --</option>
                    <option data-father-cat="loisirs_et_divertissement" value="Sports_et_Loisirs">Sports et Loisirs</option>
            <option data-father-cat="loisirs_et_divertissement" value="Animaux">Animaux</option>
            <option data-father-cat="loisirs_et_divertissement" value="Instruments_deMusique">Instruments de Musique</option>
            <option data-father-cat="loisirs_et_divertissement" value="Art_et_Collections">Art et Collections</option>
            <option data-father-cat="loisirs_et_divertissement" value="Voyages_et_Billetterie">Voyages et Billetterie</option>
            <option data-father-cat="loisirs_et_divertissement" value="Films_Livres_Magazines">Films, Livres, Magazines</option>
            <option disabled id="father-tree" value="EMPLOI_ET_SERVICES">-- EMPLOI ET SERVICES --</option>
                        <option data-father-cat="emploi_et_services" value="Offres_demploi">Offres d'emploi</option>
            <option data-father-cat="emploi_et_services" value="Demandes_demploi">Demandes d'emploi</option>
            <option data-father-cat="emploi_et_services" value="Stages">Stages</option>
            <option data-father-cat="emploi_et_services" value="Services">Services</option>
            <option data-father-cat="emploi_et_services" value="Cours_et_Formations">Cours et Formations</option>
            <option disabled id="father-tree" value="ENTREPRISES">-- ENTREPRISES --</option>
             <option data-father-cat="entreprises" value="Business_et_Affaires_commerciales">Business et Affaires commerciales</option>
            <option data-father-cat="entreprises" value="Matériels_Professionnels">Matériels Professionnels</option>
            <option data-father-cat="entreprises" value="Stocks_et_Vente_en_gros">Stocks et Vente en gros</option>
            <option disabled id="father-tree" value="Autres">-- Autres --</option>
            <option data-father-cat="autres" value="autres">AUTRES</option>
        </select>
        <input type="hidden" name="fathercategory">
        <div class="help-block with-errors"></div>
    </div>
</div>
<div class="form-group" id="typeannonce" style="margin-bottom:10px; display:none;">
    <label class="col-sm-3 text-primary" for="categories"><strong>Annonce :*</strong></label>
    <div class="col-sm-9" style="margin-top:10px;">
    <label class="radio-inline"></label>
    <label class="radio-inline" class="Offre">
      <input type="radio" name="typeannonce" value="Offre">Offre
    </label>
    <label class="radio-inline" class="Demande">
      <input type="radio" name="typeannonce" value="Demande">Demande
    </label>
    </div>
</div>
<!--################################# BEGIN SUB CATGORIE VOITURE #################################################-->
<div class="critirias-options">
    <div class="form-group Voitures critiriasOpt " style="margin-bottom:10px; display:none;">
        <label class="col-sm-3 text-primary" for="marque»"><strong>Marque :*</strong></label>
        <div class="col-sm-9">
            <select class="form-control sub-list" id="marque" name="critiriaOption[marque]" required>
                <option selected disabled></option>
                <option value="Alfa_Romeo">Alfa Romeo</option>
                <option value="Aston_Martin">Aston Martin</option>
                <option value="Audi">Audi</option>
                <option value="Bentley">Bentley</option>
                <option value="BMW">BMW</option>
                <option value="BYD">BYD</option>
                <option value="Cadillac">Cadillac</option>
                <option value="Changhe">Changhe</option>
                <option value="Chery">Chery</option>
                <option value="Chevrolet">Chevrolet</option>
                <option value="Chrysler">Chrysler</option>
                <option value="Citroen">Citroen</option>
                <option value="Dacia">Dacia</option>
                <option value="Daewoo">Daewoo</option>
                <option value="Daihatsu">Daihatsu</option>
                <option value="Dodge">Dodge</option>
                <option value="Ferrari">Ferrari</option>
                <option value="Fiat">Fiat</option>
                <option value="Ford">Ford</option>
                <option value="Foton">Foton</option>
                <option value="Geely">Geely</option>
                <option value="GMC">GMC</option>
                <option value="Honda">Honda</option>
                <option value="Hummer">Hummer</option>
                <option value="Hyundai">Hyundai</option>
                <option value="Infiniti">Infiniti</option>
                <option value="Isuzu">Isuzu</option>
                <option value="Iveco">Iveco</option>
                <option value="Jaguar">Jaguar</option>
                <option value="Jeep">Jeep</option>
                <option value="Kia">Kia</option>
                <option value="Lamborghini">Lamborghini</option>
                <option value="lancia">lancia</option>
                <option value="Land_Rover">Land Rover</option>
                <option value="Lexus">Lexus</option>
                <option value="Lincoln">Lincoln</option>
                <option value="Mahindra">Mahindra</option>
                <option value="Man">Man</option>
                <option value="Maserati">Maserati</option>
                <option value="Masey_Ferguson">Masey Ferguson</option>
                <option value="Mazda">Mazda</option>
                <option value="Mercedes-Benz">Mercedes-Benz</option>
                <option value="mini">mini</option>
                <option value="Mitsubishi">Mitsubishi</option>
                <option value="Nissan">Nissan</option>
                <option value="Opel">Opel</option>
                <option value="Peugeot">Peugeot</option>
                <option value="Pontiac">Pontiac</option>
                <option value="Porsche">Porsche</option>
                <option value="Renault">Renault</option>
                <option value="Rover">Rover</option>
                <option value="Seat">Seat</option>
                <option value="Skoda">Skoda</option>
                <option value="Smart">Smart</option>
                <option value="Ssangyong">Ssangyong</option>
                <option value="Subaru">Subaru</option>
                <option value="Suzuki">Suzuki</option>
                <option value="Toyota">Toyota</option>
                <option value="UFO">UFO</option>
                <option value="Volkswagen">Volkswagen</option>
                <option value="Volvo">Volvo</option>
                <option value="Zotye">Zotye</option>
                <option value="AC">AC</option>
                <option value="Acrea">Acrea</option>
                <option value="Acura">Acura</option>
                <option value="Autres">Autres</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group Voitures critiriasOpt" style="margin-bottom:10px; display:none;">
        <label class="col-sm-3 text-primary" for="model"><strong>Model:*</strong></label>
        <div class="col-sm-9 ">
            <select name="critiriaOption[model]" class="form-control marque" id="model" required>
                <option selected disabled></option>
                <option class="Alfa_Romeo" style="display:none;" value="33">33</option>
                <option class="Alfa_Romeo" style="display:none;" value="75">75</option>
                <option class="Alfa_Romeo" style="display:none;" value="145">145</option>
                <option class="Alfa_Romeo" style="display:none;" value="146">146</option>
                <option class="Alfa_Romeo" style="display:none;" value="147">147</option>
                <option class="Alfa_Romeo" style="display:none;" value="155">155</option>
                <option class="Alfa_Romeo" style="display:none;" value="156">156</option>
                <option class="Alfa_Romeo" style="display:none;" value="159">159</option>
                <option class="Alfa_Romeo" style="display:none;" value="164">164</option>
                <option class="Alfa_Romeo" style="display:none;" value="166">166</option>
                <option class="Alfa_Romeo" style="display:none;" value="4c">4C</option>
                <option class="Alfa_Romeo" style="display:none;" value="8c">8c</option>
                <option class="Alfa_Romeo" style="display:none;" value="147_gta">147 gta</option>
                <option class="Alfa_Romeo" style="display:none;" value="brera">Brera</option>
                <option class="Alfa_Romeo" style="display:none;" value="giulia">GIULIA</option>
                <option class="Alfa_Romeo" style="display:none;" value="giulietta">Giulietta</option>
                <option class="Alfa_Romeo" style="display:none;" value="gt">Gt</option>
                <option class="Alfa_Romeo" style="display:none;" value="gtv">Gtv</option>
                <option class="Alfa_Romeo" style="display:none;" value="mito">Mito</option>
                <option class="Alfa_Romeo" style="display:none;" value="spider">Spider</option>
                <option class="Aston_Martin" style="display:none" value="amv8">Amv8</option>
                <option class="Aston_Martin" style="display:none" value="db7">DB7</option>
                <option class="Aston_Martin" style="display:none" value="db9">DB9</option>
                <option class="Aston_Martin" style="display:none" value="dbs">DBS</option>
                <option class="Aston_Martin" style="display:none" value="vanquish">Vanquish</option>
                <option class="Aston_Martin" style="display:none" value="vantage">Vantage</option>
                <option class="Aston_Martin" style="display:none" value="virage">Virage</option>
                <option class="Aston_Martin" style="display:none" value="other">Autres</option>
                <option class="Aston_Martin" style="display:none" value="other">Autres</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group Voitures critiriasOpt" style="margin-bottom:10px; display:none;">
        <label class="col-sm-3 text-primary" for="TypeDeCarburant"><strong>Type de carburant :*</strong></label>
        <div class="col-sm-9 ">
            <select class="form-control " name="critiriaOption[TypeDeCarburant]" required>
                <option selected disabled></option>
                <option value="Diesel">Diesel</option>
                <option value="Essence">Essence</option>
                <option value="Electrique">Electrique</option>
                <option value="LPG">LPG</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group Voitures Motos critiriasOpt" style="margin-bottom:10px; display:none;">
        <label class="col-sm-3 text-primary" for="AnneeModele"><strong>Année modèle :*</strong></label>
        <div class="col-sm-9 ">
            <select class="form-control " name="critiriaOption[AnneeModele]" required>
                <option selected disabled></option>
                <option value="2018">2018</option>
                <option value="2017">2017</option>
                <option value="2016">2016</option>
                <option value="2015">2015</option>
                <option value="2014">2014</option>
                <option value="2013">2013</option>
                <option value="2012">2012</option>
                <option value="2011">2011</option>
                <option value="2010">2010</option>
                <option value="2009">2009</option>
                <option value="2008">2008</option>
                <option value="2007">2007</option>
                <option value="2006">2006</option>
                <option value="2005">2005</option>
                <option value="2004">2004</option>
                <option value="2003">2003</option>
                <option value="2002">2002</option>
                <option value="2001">2001</option>
                <option value="2000">2000</option>
                <option value="1999">1999</option>
                <option value="1998">1998</option>
                <option value="1997">1997</option>
                <option value="1996">1996</option>
                <option value="1995">1995</option>
                <option value="1994">1994</option>
                <option value="1993">1993</option>
                <option value="1992">1992</option>
                <option value="1991">1991</option>
                <option value="1990">1990</option>
                <option value="1989">1989</option>
                <option value="1988">1988</option>
                <option value="1987">1987</option>
                <option value="1986">1986</option>
                <option value="1985">1985</option>
                <option value="1984">1984</option>
                <option value="1983">1983</option>
                <option value="1982">1982</option>
                <option value="1981">1981</option>
                <option value="1980_ou_plus_ancien">1980 ou plus ancien</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group Voitures Motos critiriasOpt" style="margin-bottom:10px; display:none;">
        <label class="col-sm-3 text-primary" for="kilometrage"><strong>kilométrage :*</strong></label>
        <div class="col-sm-9 ">
            <select class="form-control " name="critiriaOption[kilometrage]" required>
                <option selected disabled></option>
                <option value="0_- 4 999">0 - 4 999</option>
                <option value="5_000 - 9 999">5 000 - 9 999</option>
                <option value="10_000 - 14 999">10 000 - 14 999</option>
                <option value="15_000 - 19 999">15 000 - 19 999</option>
                <option value="20_000 - 24 999">20 000 - 24 999</option>
                <option value="25_000 - 29 999">25 000 - 29 999</option>
                <option value="30_000 - 34 999">30 000 - 34 999</option>
                <option value="35_000 - 39 999">35 000 - 39 999</option>
                <option value="40_000 - 44 999">40 000 - 44 999</option>
                <option value="45_000 - 49 999">45 000 - 49 999</option>
                <option value="50_000 - 54 999">50 000 - 54 999</option>
                <option value="55_000 - 59 999">55 000 - 59 999</option>
                <option value="60_000 - 64 999">60 000 - 64 999</option>
                <option value="65_000 - 69 999">65 000 - 69 999</option>
                <option value="70_000 - 74 999">70 000 - 74 999</option>
                <option value="75_000 - 79 999">75 000 - 79 999</option>
                <option value="80_000 - 84 999">80 000 - 84 999</option>
                <option value="85_000 - 89 999">85 000 - 89 999</option>
                <option value="90_000 - 94 999">90 000 - 94 999</option>
                <option value="95_000 - 99 999">95 000 - 99 999</option>
                <option value="100_000 - 109 999">100 000 - 109 999</option>
                <option value="110_000 - 119 999">110 000 - 119 999</option>
                <option value="120_000 - 129 999">120 000 - 129 999</option>
                <option value="130_000 - 139 999">130 000 - 139 999</option>
                <option value="140_000 - 149 999">140 000 - 149 999</option>
                <option value="150_000 - 159 999">150 000 - 159 999</option>
                <option value="160_000 - 169 999">160 000 - 169 999</option>
                <option value="170_000 - 179 999">170 000 - 179 999</option>
                <option value="180_000 - 189 999">180 000 - 189 999</option>
                <option value="190_000 - 199 999">190 000 - 199 999</option>
                <option value="200_000 - 249 999">200 000 - 249 999</option>
                <option value="250_000 - 299 999">250 000 - 299 999</option>
                <option value="300_000 - 349 999">300 000 - 349 999</option>
                <option value="350_000 - 399 999">350 000 - 399 999</option>
                <option value="400_000 - 449 999">400 000 - 449 999</option>
                <option value="450_000 - 499 999">450 000 - 499 999</option>
                <option value="Plus_de 500 000">Plus de 500 000</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
    <div class="form-group Voitures Motos critiriasOpt" style="margin-bottom:10px; display:none;">
        <label class="col-sm-3 text-primary" for="PuissanceFiscale"><strong>Puissance fiscale :*</strong></label>
        <div class="col-sm-9 ">
            <select class="form-control " name="critiriaOption[PuissanceFiscale]" required>
                <option selected disabled></option>
                <option value="4_CV">4 CV</option>
                <option value="5_CV">5 CV</option>
                <option value="6_CV">6 CV</option>
                <option value="7_CV">7 CV</option>
                <option value="8_CV">8 CV</option>
                <option value="9_CV">9 CV</option>
                <option value="10_CV">10 CV</option>
                <option value="11_CV">11 CV</option>
                <option value="12_CV">12 CV</option>
                <option value="13_CV">13 CV</option>
                <option value="14_CV">14 CV</option>
                <option value="15_CV">15 CV</option>
                <option value="16_CV">16 CV</option>
                <option value="17_CV">17 CV</option>
                <option value="18_CV">18 CV</option>
                <option value="19_CV">19 CV</option>
                <option value="20_CV">20 CV</option>
                <option value="20_CV">20 CV</option>
                <option value="21_CV">21 CV</option>
                <option value="22_CV">22 CV</option>
                <option value="23_CV">23 CV</option>
                <option value="24_CV">24 CV</option>
                <option value="25_CV">25 CV</option>
                <option value="26_CV">26 CV</option>
                <option value="27_CV">27 CV</option>
                <option value="28_CV">28 CV</option>
                <option value="29_CV">29 CV</option>
                <option value="30_CV">30 CV</option>
                <option value="31_CV">31 CV</option>
                <option value="32_CV">32 CV</option>
                <option value="33_CV">33 CV</option>
                <option value="34_CV">34 CV</option>
                <option value="35_CV">35 CV</option>
                <option value="36_CV">36 CV</option>
                <option value="37_CV">37 CV</option>
                <option value="41_CV">41 CV</option>
                <option value="38_CV">38 CV</option>
                <option value="39_CV">39 CV</option>
                <option value="40_CV">40 CV</option>
                <option value="Plus_de 48 CV">Plus de 48 CV</option>
            </select>
            <div class="help-block with-errors"></div>
        </div>
    </div>
</div>
<!--################################# BEGIN SUB CATGORIE VOITURE #################################################-->
<script>
$(document).ready(function() {
    $("select#categories").on('change', function() {
        $('input[name="fathercategory"]').val($(this).find(':selected').attr('data-father-cat'));
        $('div.critirias-options').find('.critiriasOpt').hide();
        $('div.critirias-options').find('.critiriasOpt').find('select').attr('disabled', 'disabled');
        $('#typeannonce').show();
        $('div.critirias-options').find('.' + $(this).val()).find('select').removeAttr('disabled');
        $('div.critirias-options').find('.' + $(this).val()).show();
    });
    $("select.sub-list").on('change', function() {

        $('div.critirias-options').find('select.' + $(this).attr('id')).children('option').hide();
        $('div.critirias-options').find('select.' + $(this).attr('id')).find('.' + $(this).val()).show();

    });


});
</script>