<div class="region-ville-secteur">

<div class="form-group col-lg-12" style="margin-bottom:10px; margin-left:19%; ">
    <label class="col-sm-3 text-primary" for="region"><strong>Region :*</strong></label>
 <div class="col-sm-4 ">
      <select class="form-control region" name="region" required>
            <option></option>
          <option value="chaouia-ourdigha"> Chaouia-Ouardigha </option>        
          <option value="Rabat-sale-zemmour-zaer"> Rabat-Salé-Zemmour-Zaër </option>
      </select>
    </div>
      <div class="help-block with-errors"></div>
</div>
<div class="form-group col-lg-12" style="margin-bottom:10px; margin-left:19%; ">
   <label class="col-sm-3 text-primary" for="ville"><strong>Ville :*</strong></label>
  
    <div class="col-sm-4 ">


      <select class="form-control ville" name="ville" required>
                <option></option>
                <option value="Rabat" class="Rabat-sale-zemmour-zaer" style="display:none;">Rabat</option>
                <option value="Sala_Al-Jadida" class="Rabat-sale-zemmour-zaer" style="display:none;">Sala Al-Jadida</option>
                <option value="Ain_Blal" class="chaouia-ourdigha" style="display:none;">Ain Blal</option>
               
        </select>
      </div>
      <div class="help-block with-errors"></div>
</div>
<div class="form-group col-lg-12 quartier-hide" style="margin-bottom:10px;margin-left:19%; display:none;">
    <label class="col-sm-3 text-primary" for="Quartier"><strong>Quartier :*</strong></label>
     <div class="col-sm-4 ">
      <select class="form-control quartier" name="quartier" disabled="disabled">
                <option></option>
                <option value="rabat_quartie_one" class="Rabat" style="display:none;">Rabat quartie 1</option>
                <option value="rabat_quartie_two" class="Rabat" style="display:none;">Rabat quartie 2</option>
                <option value="rabat_quartie_theree" class="Rabat" style="display:none;">Rabat quartie 3</option>
                <option value="rabat_quartie_four" class="Rabat" style="display:none;">Rabat quartie 4</option>
                
                <option value="Sala_Al-Jadida_quartie_one" class="Sala_Al-Jadida" style="display:none;">Sala Al-Jadida quartie 1</option>
                <option value="Sala_Al-Jadida_quartie_two" class="Sala_Al-Jadida" style="display:none;">Sala Al-Jadida quartie 2</option>

                <option value="Ain_Blal_qartier_one" class="chaouia-ourdigha" style="display:none;">Ain Blal quartier one </option>
                <option value="Ain_Blal_qartier_two" class="chaouia-ourdigha" style="display:none;">Ain Blal quartier two</option>

      </select>
    </div>
      <div class="help-block with-errors"></div>
</div>

</div>

<script>
$(document).ready(function(){

      $('select.region').on('change',function(){
               $('select.ville').children('option').hide();
               $('select.ville').find('.'+$(this).val()).show();
      });
      $('select.ville').on('change',function(){
        
         if($("select#categories").find(':selected').attr('data-father-cat') == "immobilier_location"
             || $("select#categories").find(':selected').attr('data-father-cat') =="immobilier_vente" ){
              $('.quartier-hide').show();
              $('select.quartier').removeAttr('disabled');
              $('select.quartier').attr('required','required');
              $('select.quartier').children('option').hide();
              $('select.quartier').find('.'+$(this).val()).show();
          }
      });

});
</script>