  <div class="sidebar" data-active-color="blue" data-background-color="black" data-image="{{ asset('plugins/img/sidebar-1.jpg')}}">
      
          <div class="logo">
                <a href="{{ path('dashboard_index') }}" class="simple-text logo-mini">
                    <span class="text-danger">77</span>
                </a>
                <a href="{{ path('dashboard_index') }}" class="simple-text logo-normal">
                  MAROC
                </a>
            </div>

            <div class="sidebar-wrapper">
                <div class="user">
                    <div class="photo">
                        <img src="{{ asset('plugins/img/faces/avatar.jpg')}}" />
                    </div>
                    <div class="info">
                        <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                            <span>
                                {{app.user.firstname}} {{ app.user.lastname}}
                                <b class="caret"></b>
                            </span>
                        </a>
                        <div class="clearfix"></div>
                        <div class="collapse" id="collapseExample">
                            <ul class="nav">
                                <li>
                                    <a href="{{path('mes_info_admin')}}">
                                        <span class="sidebar-mini"> MP </span>
                                        <span class="sidebar-normal"> My Profile </span>
                                    </a>
                                </li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
                <ul class="nav">
                     {{ knp_menu_render('AppBundle:Builder:menuDashboard') }} 
                </ul>
            </div>
        </div>