 {% set ANNONCEREFUSER = [] %} 
 	{% for template in messageTemplates %}
     {% if template.type == "ANNONCE_REFUSER" %}
      {% set ANNONCEREFUSER = template.messagetemplate %}
     
     {% endif %}
   {% endfor %}

    <div class="form-group">
	    <select class="form-control" name="messageRefuser">
	        <option selected disabled>----Select Message-----</option>
	        {% for templ in ANNONCEREFUSER %}
	        <option value="{{templ.id}}">{{templ.title}}</option>
	        {% endfor %}
	        <input type="hidden" name="idAd">
	    </select>
    </div>
