{% extends 'base.html.twig' %}

{% block stylesheets %}
  
  	    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('plugins/front/css/beta_layout_71239.css')}}" rel="stylesheet" />
        <link href="{{ asset('plugins/front/css/beta_styles_71239.css')}}" rel="stylesheet" />
         <link href="{{ asset('plugins/front/css/style_rtl.css')}}" rel="stylesheet" />
        <link href="{{ asset('plugins/front/css/bootstrap.css')}}" rel="stylesheet" />
        <link href="{{ asset('plugins/front/css/font-awesome.css')}}" rel="stylesheet" />
        
       <script src="{{ asset('plugins/js/jquery-3.2.1.min.js')}}" ></script>


		{% block specifics_stylesheets %}{% endblock %}
    <link href="{{ asset('plugins/front/css/main.css')}}" rel="stylesheet" />

 
{% endblock %}
{% block body_class %}{% endblock %}
{% block body %}

        <div class="popin-shadow"></div>
        <a href="#" title="Fermer le menu" class="mobileMenuHoverlay"><i class="fa fa-times-circle fa-3x" style="display:none"></i></a>
        <section id="container" role="application" data-pagename="listing">

        {% block header %}
              {% include 'PartialsFront/Header.html.twig' %}
        {% endblock %}
          {% block block_no_filter %}
            <div class="apn-hbl apn-hb">
                <div id="hbl-s" class="teal-apn"></div>
            </div>

            {% block topfilter %}
              {% include 'PartialsFront/Filter.html.twig' %}
            {% endblock %}

            <main id="main" role="main">

               {% block content %}
               
              
               {% endblock %}

            </main>
          {% endblock %}

            <div class="row">
              <div class="col-lg-8">
                <img src="{{asset('img/applic.png')}}">
              </div>
              <div class="col-lg-2">
                 <a href="https://www.apple.com/fr/ios/app-store/" target="_blank"> <img src="{{asset('img/store.png')}}"></a>

              </div>
              <div class="col-lg-2">
                  <a href="https://play.google.com/store" target="_blank"> <img src="{{asset('img/play.png')}}"></a>
              </div>
            </div>
        {% block footer %}
              {% include 'PartialsFront/Footer.html.twig' %}
        {% endblock %}

        </section>
          

	 
{% endblock %}

{% block javascripts %}
		<script src="{{ asset('plugins/js/bootstrap.min.js')}}" ></script>
		<script src="{{ asset('plugins/front/js/mobile-detect.min.js')}}" ></script>
		<script src="{{ asset('plugins/front/js/beta_base_71239.js')}}" ></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('plugins/front/js/app-front.js')}}" ></script>
		 
    <script>
    
      {# if(window.location.pathname.indexOf('/ar/') >= 0){
              $('html').attr('dir','rtl');
      }else{
        $('html').removeAttr('dir');
      } #}

    </script>
       
        {% block specifics_javascripts %}
        
             <script>
              
                    (function($) {
                    $.fn.flexHeight = function() {
                      var context = this;
                      var handleFlexLayout = function () {
                        context.each(function() {
                    var flex = $(this);
                    var containerHeight = Math.min(flex.parent().height(), $(window).height());
                    var usedHeight = flex.parent().outerHeight(true) - flex.parent().height();
                    flex.siblings().each(function() {
                      usedHeight += $(this).outerHeight(true);
                    });
                    flex.height(containerHeight - usedHeight);
                    flex.css("overflow", "auto");
                        });
                      }
                      $(window).resize(handleFlexLayout);
                      handleFlexLayout();
                    }
                  //  $("#flash_msg").delay(5000).slideUp(700);
                  })(jQuery);
             </script>

        {% endblock %}
	    
 
{% endblock %}


