{% extends 'base.html.twig' %}

{% block stylesheets %}
  	    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="{{ asset('plugins/css/bootstrap.min.css')}}" rel="stylesheet" />
         <link href="{{ asset('plugins/css/main.css')}}" rel="stylesheet" />
	    <link href="{{ asset('plugins/css/material-dashboard.css?v=1.2.1')}}" rel="stylesheet" />
	    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
	     <script src="{{ asset('plugins/js/jquery-3.2.1.min.js')}}" ></script>
		{% block specifics_stylesheets %}{% endblock %}
 
	    <link href="{{ asset('plugins/css/demo.css')}}" rel="stylesheet" />


{% endblock %}
{% block body_class %}{% endblock %}
{% block body %}
	<div class="loading">
		<div class="sk-folding-cube">
		  <div class="sk-cube1 sk-cube"></div>
		  <div class="sk-cube2 sk-cube"></div>
		  <div class="sk-cube4 sk-cube"></div>
		  <div class="sk-cube3 sk-cube"></div>
		</div>
		  <p class="lead">Dashboard 77maroc</p>
	</div>
	 <div id="warapper">

	 	
	 	{% block sidebar %}
	 		{% include 'Partials/side-nav.html.twig' %}
	 	{% endblock %}
		   <div class="main-panel">
		 			{% include 'Partials/top-nav.html.twig' %}
			  	<div class="content">
	           	 	<div class="container-fluid">
			 			 {% block content %} {% endblock %}
			    	 </div>
			 	</div>

			  	{% block footer %} 
			  		{% include 'Partials/Footer.html.twig' %}
			  	{% endblock %}
		  </div>
	
	 </div>
{% endblock %}

{% block javascripts %}
	   
		<script src="{{ asset('plugins/js/bootstrap.min.js')}}" ></script>
		<script src="{{ asset('plugins/js/material.min.js')}}" ></script>
		<script src="{{ asset('plugins/js/perfect-scrollbar.jquery.min.js')}}" ></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
		<script src="{{ asset('plugins/js/arrive.min.js')}}" ></script>
		<script src="{{ asset('plugins/js/jquery.validate.min.js')}}"></script>
		<script src="{{ asset('plugins/js/moment.min.js')}}"></script>
		<script src="{{ asset('plugins/js/chartist.min.js')}}"></script>
		<script src="{{ asset('plugins/js/jquery.bootstrap-wizard.js')}}"></script>
		<script src="{{ asset('plugins/js/bootstrap-notify.js')}}"></script>
		<script src="{{ asset('plugins/js/bootstrap-datetimepicker.js')}}"></script>
		<script src="{{ asset('plugins/js/jquery-jvectormap.js')}}"></script>
		<script src="{{ asset('plugins/js/nouislider.min.js')}}"></script>
		<script src="{{ asset('plugins/js/jquery.select-bootstrap.js')}}"></script>
		<script src="{{ asset('plugins/js/jquery.datatables.js')}}"></script>
		<script src="{{ asset('plugins/js/sweetalert2.js')}}"></script>
		<script src="{{ asset('plugins/js/jasny-bootstrap.min.js')}}"></script>
		<script src="{{ asset('plugins/js/fullcalendar.min.js')}}"></script>
		<script src="{{ asset('plugins/js/jquery.tagsinput.js')}}"></script>
		<script src="{{ asset('plugins/js/demo.js')}}"></script>
		<script src="{{ asset('plugins/js/material-dashboard.js?v=1.2.1')}}"></script>
		<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
 	     

       
        {% block specifics_javascripts %}{% endblock %}
	    <script src="{{asset('plugins/js/app.js')}}"></script>
	    <script src="{{asset('plugins/js/main.js')}}"></script>
	    <script type="text/javascript">
	    $(document).ready(function(){
			
	    		        demo.checkFullPageBackgroundImage();
	        setTimeout(function() {
	            // after 1000 ms we add the class animated to the login/register card
	            $('.card').removeClass('card-hidden');
	        }, 700)
	    });
</script>
{% endblock %}


