{% extends 'layoutAdmin.html.twig'%}

{% block content %}
   <div class="row">
         <div class="col-md-12">
            <div class="row"> {% include 'FlashMessages/FlashMessages.html.twig'%} </div>
                                              
                        <div class="row">
                            {{ form_errors(form) }}
                        </div>
                        <div class="card">
                            {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}
                            <div class="card-header card-header-text" data-background-color="blue">
                                <h4 class="card-title">Nouveau Pack</h4>
                            </div>
                            
                                                              
                            <div class="card-content">
                                <div class="row">
                                   
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{form_widget(form.value)}}        
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{form_widget(form.price)}}        
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{form_widget(form.title)}}        
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group label-floating is-empty">
                                            <label class="control-label"></label>
                                            {{form_widget(form.description)}}        
                                        </div>
                                    </div>

                                </div>  
                            </div>
                            <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-rose btn-fill">
                                        <span class="btn-label">
                                             <i class="material-icons">check</i>
                                        </span>Ajouter
                                    </button>
                             </div>
                             {{ form_row(form._token) }}
                            {{ form_end(form, {'render_rest': false}) }}
                        </div>
                
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="purple">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Liste des Packs</h4>
                                  
                                   <div class="material-datatables">
                                        <table id="table-Pack" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr >
                                                     <th class="text-center">ID</th>
                                                     <th class="text-center">Titre</th>
                                                     <th class="text-center">Prix</th>
                                                     <th class="text-center">Nombre des jours</th>
                                                     <th class="disabled-sorting text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr class="text-center">
                                                    <th class="text-center">ID</th>
                                                     <th class="text-center">Name</th>
                                                    <th class="disabled-sorting text-center">Actions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for pack in packs %}
                                                    <tr class="text-center" id="{{pack.id}}">
                                                      <td>{{ pack.id }}</td>
                                                      <td>{{ pack.title }}</td>
                                                      <td>{{ pack.price }}</td>
                                                      <td>{{ pack.value }}</td>
                                                       
                                                     </td>
                                                      <td class="text-center">
                                                        <a href="{{ path('pack_edit', {'id':pack.id}) }}" class="btn btn-simple btn-warning btn-icon edit"><i class="material-icons">dvr</i></a>
                                                        <a href="#" class="btn btn-simple btn-danger btn-icon remove" data-toggle="modal" data-target="#modal-{{pack.id}}"><i class="material-icons">close</i></a>
                                                    </td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>
{% for pack in packs %}
  {% include 'Modals/delete_pack.html.twig' with {'pack_id': pack.id} %}
{% endfor %}
{% endblock %}




