   {% extends 'layoutAdmin.html.twig'%}
   {% block content %}
    <div class="row" style="margin-top:4%;">
        <h3 class="text-primary">Gérer les options payantes</h3>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="material-icons">border_top</i>
                </div>
                <div class="card-content">
                    <p class="category">Configuration des options payantes</p>
                </div><br><br><br>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{path('paidoptions_new_pack',{'ptype':'ALWAYS_IN_LEAD'})}}"> > configuration des packs de toujours en tete</a>
                    </div>
                </div>
                  <div class="card-footer">
                    <div class="stats">
                        <a href="{{path('paidoptions_new_pack',{'ptype':'RENEWAL'})}}"> > configuration des packs de renouvellement</a>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <a href="{{path('paidoptions_new_pack',{'ptype':'TYPE_RENEWAL'})}}"> > configuration de Annonce attirante ou encadrée</a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

     

 
   


   {% endblock %}












{# {% extends 'layoutAdmin.html.twig'%}

{% block content %}

<div class="content">
                <div class="container-fluid">
                 
                    <div class="row">
                   {% include 'FlashMessages/FlashMessages.html.twig'%}
                          {{ form_errors(always_in_lead_form) }}
                          {{ form_errors(renewal_form) }}
                          {{ form_errors(attractive_ad_form) }}
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Options payantes
                                       
                                    </h4>
                                </div>
                                <div class="card-content">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <ul class="nav nav-pills nav-pills-rose nav-stacked">
                                                <li class="active">
                                                    <a href="#tab1" data-toggle="tab">Toujours en tete</a>
                                                </li>
                                                <li>
                                                    <a href="#tab2" data-toggle="tab">Renouvellement</a>
                                                </li>
                                                <li>
                                                    <a href="#tab3" data-toggle="tab">Annonce attirante ou encadrée</a>
                                                </li>
                                               
                                            </ul>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab1">
                                                    {{form_start(always_in_lead_form,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_paidoptions', {'id':always_in_lead.id})}) }}
                                                    
                                                         <div class="row">
                                                            <label class="col-sm-2 label-on-left">{{form_label(always_in_lead_form.price)}}</label>
                                                            <div class="col-sm-10">
                                                                <div class="form-group label-floating is-empty">
                                                                    <label class="control-label"></label>
                                                                    {{form_widget(always_in_lead_form.price)}}
                                                                    <span class="help-block">Entrez Le prix</span>
                                                                <span class="material-input"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 label-on-left">{{form_label(always_in_lead_form.value)}}</label>
                                                            <div class="col-sm-10">
                                                                <div class="form-group label-floating is-empty">
                                                                    <label class="control-label"></label>
                                                                    {{form_widget(always_in_lead_form.value)}}
                                                                    <span class="help-block">Entrez Le Nombre des Jours</span>
                                                                <span class="material-input"></span></div>
                                                            </div>
                                                        </div>
                                                         <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                                     {{ form_row(always_in_lead_form._token) }}
                                                     {{ form_end(always_in_lead_form, {'render_rest': false}) }}
                                                </div>

                                                <div class="tab-pane" id="tab2">
                                                    {{form_start(renewal_form,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_paidoptions', {'id':renewal.id})}) }}
                                                    
                                                         <div class="row">
                                                            <label class="col-sm-2 label-on-left">{{form_label(renewal_form.price)}}</label>
                                                            <div class="col-sm-10">
                                                                <div class="form-group label-floating is-empty">
                                                                    <label class="control-label"></label>
                                                                    {{form_widget(renewal_form.price)}}
                                                                    <span class="help-block">Entrez Le prix</span>
                                                                <span class="material-input"></span></div>
                                                            </div>
                                                        </div>
                                                  
                                                         <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                                     {{ form_row(renewal_form._token) }}
                                                     {{ form_end(renewal_form, {'render_rest': false}) }}
                                                </div>
                                                <div class="tab-pane" id="tab3">
                                                   {{form_start(attractive_ad_form,{ 'attr' :{'class':'form-horizontal'}, 'action': path('edit_paidoptions', {'id':attractive_ad.id})}) }}
                                                    
                                                         <div class="row">
                                                            <label class="col-sm-2 label-on-left">{{form_label(attractive_ad_form.price)}}</label>
                                                            <div class="col-sm-10">
                                                                <div class="form-group label-floating is-empty">
                                                                    <label class="control-label"></label>
                                                                    {{form_widget(attractive_ad_form.price)}}
                                                                    <span class="help-block">Entrez Le prix</span>
                                                                <span class="material-input"></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <label class="col-sm-2 label-on-left">{{form_label(attractive_ad_form.size)}}</label>
                                                            <div class="col-sm-10">
                                                                <div class="form-group label-floating is-empty">
                                                                    <label class="control-label"></label>
                                                                    {{form_widget(attractive_ad_form.value)}}
                                                                    <span class="help-block">Entrez La Taille</span>
                                                                <span class="material-input"></span></div>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <label class="col-sm-2 label-on-left">{{form_label(attractive_ad_form.font)}}</label>
                                                            <div class="col-sm-10">
                                                                <div class="form-group label-floating is-empty">
                                                                    <label class="control-label"></label>
                                                                    {{form_widget(attractive_ad_form.font)}}
                                                                    <span class="help-block">Entrez La Police</span>
                                                                <span class="material-input"></span></div>
                                                            </div>
                                                        </div>
                                                         <button type="submit" class="btn btn-fill btn-block btn-success">Valider</button>
                                                     {{ form_row(attractive_ad_form._token) }}
                                                     {{ form_end(attractive_ad_form, {'render_rest': false}) }}
                                                </div>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                      
                </div>
</div>

{% endblock %}
                        #}