{% extends 'layoutFront.html.twig' %}
 {% block specifics_stylesheets %}
<link href="{{ asset('plugins/front/css/owl.carousel.min.css')}}" rel="stylesheet" />
<link href="{{ asset('plugins/front/css/owl.theme.default.min.css')}}" rel="stylesheet" /> 

{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="text-center hidden-xs" style="padding:6px;top: 0px;left:0;right:0;">
        {% if publicityTop.type == 'PUB SCRIPT' %}
        <div id="script-check" style="margin: auto;width: 100%">
            {{ publicityTop.script }}
        </div>
        {% else %}
        <a href="{{publicityTop.url}}" target="_blank">
         <img src="{{ vich_uploader_asset(publicityTop, 'imageFile')  }}"  style="width:100%" height="160" border="0" />
      </a> {% endif %}
    </div>
   

    <section class="content-center" style="overflow: hidden;">
        <section class="col-lg-12 col-sm-12 col-xs-12 text-center style-div-sh">
            <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather':'multimedia'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/informatique.png')}}" class="img-responsive" alt="img" style=" height: 144px;width: 180px; ">
                    </div>
                    <h6> INFORMATIQUE ET MULTIMEDIA</h6>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather':'immobilier_location'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/immobilier.jpg')}}" class="img-responsive" style=" height: 144px;width: 180px; " alt="img">
                    </div>
                    <h6>IMMOUBILIER LOCATION</h6>
                </a>
            </div>
             <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather':'immobilier_vente'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/immobilier.jpg')}}" class="img-responsive" style=" height: 144px;width: 180px; " alt="img">
                    </div>
                    <h6>IMMOUBILIER VENTE</h6>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather':'vehicule'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/vehicule.jpg')}}" class="img-responsive" alt="img" style=" height: 144px;width: 180px; ">
                    </div>
                    <h6>VEHICULE</h6>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather':'emploi_et_service'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/emploi.jpg')}}" class="img-responsive" alt="img" style=" height: 144px;width: 180px; ">
                    </div>
                    <h6>EMPLOI ET SERVICES </h6>
                </a>
            </div>

            <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather':'loisirs'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/loisir.jpg')}}" class="img-responsive" style=" height: 144px;width: 180px; " alt="img">
                    </div>
                    <h6>LOISIRS ET DIVERTISSEMENT</h6>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather' :'maison_et_bureau'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/maisonjardin.jpg')}}" class="img-responsive" alt="img" style=" height: 144px;width: 180px; ">
                    </div>
                    <h6>MAISON ET BUREAU</h6>
                </a>
            </div>
              <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather' :'mode_et_beaute'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/modeB.jpg')}}" class="img-responsive" alt="img" style=" height: 144px;width: 180px; ">
                    </div>
                    <h6>MODE ET BEAUTE</h6>
                </a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 f-category " data-wow-delay="0s" >
                <a href="{{path('ads_category_index',{'categoryfather' :'business'})}}">
                    <div class="icon-img">
                        <img src="{{ asset('img/business.jpg')}}" class="img-responsive" alt="img" style=" height: 144px;width: 180px; ">
                    </div>
                    <h6>BUSINESS</h6>
                </a>
            </div>



        </section>
        {# {{ dump(lastAds)}} #}
        <section class="col-lg-12 col-sm-12 col-xs-12  style-div-sh" style="margin-top:10px;">
            <h2>{{ 'home.dernier_annonce'|trans }}</h2>
            <div class="owl-carousel ">
                {% for ad in lastAds %}
                <div data-wow-delay="0s" style="visibility: visible;-webkit-animation-delay: 0s; -moz-animation-delay: 0s;  animation-delay: 0s; padding:10px;">
                    <a href="{{path('detail_ad',{'slug':ad.slug})}}">
                        <div class="icon-img">
                             {% if ad.images|length > 0 %}
                                 {% set imageFirst= ad.images|first %} 
                            {% if imageFirst is not null %}
                            <img src="{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}" class="img-responsive" alt="img" style="height:100px;width: 140px;">

                             {% endif %}
                            {% else %}
                                  <img src="{{ asset('/plugins/front/img/no-picture.png')}}" class="img-responsive" alt="img" style="height:100px;width: 140px;">
                                
                        {% endif %}
                           
                        </div>
                        <h6>{{ ad.title }}</h6>
                    </a>
                </div>
                {% endfor %}
            </div>
        </section>
    </section>
    <div class="row text-center hidden-xs" style="padding:10px; ">
        {% if publicityBottom.type == 'PUB SCRIPT' %}
        <div id="script-check" style="margin: auto;width: 100%">
            {{ publicityBottom.script }}
        </div>
        {% else %}
        <a href="{{publicityBottom.url}}" target="_blank">
        <img src="{{ vich_uploader_asset(publicityBottom, 'imageFile')  }}" style="width:100%" >
      </a> {% endif %}
    </div>
</div>
{% endblock %} {% block specifics_javascripts %}
<script src="{{asset('plugins/front/js/owl.carousel.min.js')}}"></script>
<script type="text/javascript">
$(document).ready(function() {



    if ($('#script-check')) {
        $('#script-check').html($('#script-check').text());
    }
   $('.owl-carousel').owlCarousel({
            loop:true,
            margin:10,
            nav:true,
            responsive:{
                0:{
                    items:1
                },
                600:{
                    items:3
                },
                1000:{
                    items:5
                }
            }
        });

});
</script>
{% endblock %}