   <div class="jumbotron col-md-3 col-sm-12 col-xs-12 top-space-action">
							<h2 class="">{{ 'espaces.votre_solde'|trans }} : <p class="d-inline lead font-weight-bold">{{ (user.solde is null) ? '0.00' : (user.solde ~ ',00') }} {{ 'global.devise'|trans }}</p></h2>
	</div>