{% extends '::Default/Spaces/Showroom/ShowroomLyout.html.twig' %}

{% block normal_holder %}
     
<section class="content-center ">
<table class="table table-hover">
    <thead>
      <tr>
        <th>{{ 'espaces.transaction.id'|trans }}</th>
        <th>{{ 'espaces.transaction.payement_type'|trans }}</th>
        <th> {{ 'espaces.transaction.payement_by'|trans }} </th>
        <th>{{ 'espaces.transaction.total_price'|trans }}</th>
        <th>{{ 'espaces.transaction.ad_title'|trans }}</th>        
        <th>{{ 'espaces.transaction.date'|trans }}</th>
      </tr>
    </thead>
    <tbody>
     {% for tran in transactions %}
       <tr>
        <td>{{ tran.id }}</td>
        <td>{{ tran.type|trans }}</td>
        <td>{{ tran.paymentby|trans }}</td>
        <td>{{ tran.total }}</td>
        <td>{{ tran.idad|replace('-', ' ') }}</td>
        <td>{{ tran.createdAt|date('Y-m-d H:i:s') }}</td>
      </tr>
     {% endfor %} 
    </tbody>
  </table>
</script>



{% endblock %}
 