
    {% if app.session.flashbag.peekAll|length > 0 %}
     {% for messageSuccess in app.session.flashbag.get('success')%}
	    <div id="flash_msg" class="alert alert-success text-center">
	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	        <i class="ti-check-box"></i>&nbsp;{{messageSuccess}}
	    </div>
     {% endfor %} 
      {% for messageWarning in app.session.flashbag.get('warning')%}
	    <div id="flash_msg" class="alert alert-warning text-center">
	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	        <i class="ti-check-box"></i>&nbsp;{{messageWarning}}
	    </div>
     {% endfor %} 
      {% for messageInfo in app.session.flashbag.get('info')%}
	    <div id="flash_msg" class="alert alert-info text-center">
	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	        <i class="ti-check-box"></i>&nbsp;{{messageInfo}}
	    </div>
     {% endfor %} 
    {% endif %}

