{% extends 'layoutAdmin.html.twig'%}
{% block title %}77Maroc-List{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
        </div>
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">assignment</i>
                </div>
                 <div class="card-content">
                <h4 class="card-title">Liste des Annonces active </h4>
                <div class="material-datatables">
                    <table id="table-box-ad-act" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">User</th>
                                <th class="text-center">Categorie</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Ville</th>
                                <th class="text-center">Date</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th class="text-center">User</th>
                              
                                <th class="text-center">Categorie</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Ville</th>
                                <th class="text-center">Date</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for ad in ads %}
                            <tr class="text-center" id="{{ad.id}}">
                                <td>{{ad.user.email}}</td>
                               
                                <td>{{ad.category}}</td>
                                <td>{{ad.price}}</td>
                                <td>{{ad.villename}}</td>
                                <td>{{ad.createdAt|date("m/d/Y H:i:s") }}</td>
                             
                                <td class="text-center">
                                    <a href="{{ path('detail_ad_admin',{'slug':ad.slug})}}" target="_blank" class="btn btn-simple btn-success btn-icon edit"><i class="material-icons">remove_red_eye</i></a>
                                     <a href="#" data-target=".modal-signaler-{{ad.id}}" data-toggle="modal" class="btn btn-simple btn-success btn-icon edit"><i class="material-icons">close</i></a>


                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                <!-- end content-->
            </div>
       
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
{% for ad in ads %}
 <div class="modal fade modal-signaler-{{ad.id}}"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small ">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5>Vous voulez varimant desactiver cette Annonce ?</h5>
            </div>
            <form action="{{ path('box_ad_desactiver',{'id':ad.id})}}" method="POST">
                <div class="modal-body">
                    <select name="messageTemp" class="form-control" required>
                        <option value="">Choisir message</option>
                        {% for message in messageTemplates[0].messagetemplate %}
                            <option value="{{message.id}}">{{message.title}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="modal-footer text-center">
                    <button type="button" class="btn btn-simple" data-dismiss="modal">Non</button>
                    <input type="submit"  class="btn btn-success btn-simple" value="Confirmer">
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
<script>
    jQuery(document).ready(function(){
        $('#table-box-ad').DataTable();
    });
</script>
{% endblock %}