{% extends 'layoutAdmin.html.twig'%}
{% block title %}77Maroc-List{% endblock %}
 {% block content %}
		<div class="col-md-12">
	        <div class="card">
	            <div class="card-content">
	                <h4 class="card-title">Ad details</h4>
	                <form method="POST" action="{{path('box_ad_traitement',{'id':ad.id})}}">
	                	<div class="row" style="margin-bottom: 26px;">
	                   		{% include 'Partials/categoriesCritiriaOptions.html.twig'%}
	                	</div>
	                	<hr style="1px solid #e6e6e6"/>
	                	<div class="row" style="margin-bottom: 26px;">
	                  	{% include 'Partials/cityRegionSecteur.html.twig' %}
	                	</div>
	                	  <div class="form-group">
                                <label for="name" class="text-primary"><strong>Titre: *</strong></label>
                                <input type="text" class="form-control" name="title" id="email" placeholder="Titre de l'annonce" >
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group" id="price">
                               <label class="text-primary" for="price"><strong>Prix :*</strong></label>  
                               <input type="number" class="form-control" name="price"  placeholder="Prix de l'annonce" >
                               <div class="help-block with-errors"></div>
                           </div>
                             <div class="form-group">
                                <label class="text-primary" for="description"><strong>Description :*</strong></label>    
                                <textarea rows="6" cols="30" class="form-control" id="description"
                                  name="description" placeholder="Description de l'annonce" ></textarea>
                                 <div class="help-block with-errors"></div>
                             </div>  
                             <div class="form-group">
                                <label class="text-primary" for="description"><strong>Localisation sur la map :</strong></label>    
                                 <input type="text" class="form-control" name="latLng" value="{{ad.latLng}}">
                             </div>
                             <div class="row">
                             	<h3>Images</h3>
                             	{% for image in ad.images %}
                             	  <div class="col-lg-3 supprimer-img">
                             	  	<p style="text-align: center; width: 121px" class="lead">{{image.alt}}</p>
                             	  	<a class="btn btn-danger supp-img">Supprimer</a>
                             	  	<a class="btn btn-success rajouter" style="display:none;">Rajouter</a>
                             	  	 <img style="max-width:100px !important" src="{{ vich_uploader_asset(image, 'pathFile') |imagine_filter('ad_thumb_small')}}" class='preview'>
			     			  	 <input class="id-img" type="hidden" disabled="disabled" name="deleteFile[{{image.id}}]" value="{{image.id}}">
                             	  </div>
			     			   {% endfor %}
                            </div>
                             <div class="form-group">
                                <label class="text-primary" for="description"><strong>Lien Youtube :*</strong></label>    
                                <input type="text" class="form-control" name="urlyoutube" value="{{ad.urlyoutube}}">
                             </div>  
                             <div class="form-group">
                                <label class="text-primary" for="description"><strong>Lien site web :*</strong></label>    
                                <input type="text" class="form-control" name="urlwebsite" value="{{ad.urlwebsite}}">
                            </div> 
                            <div class="row">
                            	<input type="submit" name="ad-operation" class="btn btn-success btn-block" value="Valider">
                            </div>  
                            <div class="row">
                            		{{ render(controller('AppBundle:dashboard/BoxAds:getTemplateMessage')) }}
                            	<input disabled="disabled" type="submit" name="ad-operation" class="btn btn-warning btn-block" value="Refuser">
                        	</div>
	                </form>
	            </div>
	        </div>
   		</div>
   		<div class="col-md-12">
  			   <div class="card">
	            <div class="card-content">
	                <h4 class="card-title"> les annonces de cet utilisateur</h4>
  			     <table id="table-all-ads-trait" class="table table-striped table-no-bordered table-hover" 
				cellspacing="0" width="100%" style="width:100%">
                       <thead>
                           <tr>
                               <th class="text-center">Titre</th>
                               <th class="text-center">Categorie</th>
                               <th class="text-center">Aller à</th>
                           </tr>
                       </thead>
                       <tfoot>
                           <tr class="text-center">
                               <th class="text-center">Titre</th>
                               <th class="text-center">Categorie</th>
                               <th class="text-center">Aller à</th>
                           </tr>
                       </tfoot>
                       <tbody>
                    
                           {% for adi in ads %}
                           <tr {% if adi.status == false %} style="background:#999966; color:white;" {%endif%} class="text-center">
                           	<td>{{adi.title}}</td>
                           	<td>{{adi.category}}</td>
                           	<td> <a href="{{ path('detail_ad_admin',{'slug':adi.slug})}}" target="_blank" 
					class="btn btn-simple btn-success btn-icon edit"><i {% if adi.status == false %} style="color:blue;" {%endif%} class="material-icons">remove_red_eye</i></a></td>
                           </tr>
                           {% endfor %}
                       </tbody>
                   </table>
               </div>
           </div>
  		</div>

 {% endblock %}

 {% block specifics_javascripts %}
 
 	<script>
 	jQuery(document).ready(function($) {
 		$('#table-all-ads-trait').DataTable();
 		$('select[name="categories"]').val('{{ad.category}}').trigger('change');
       
		   {% for key, option in ad.listoptions %}
	        	$('select[name="critiriaOption[{{key}}]"]').val('{{option}}').trigger('change');
	        	$('input[name="critiriaOption[{{key}}]"]').val('{{option}}');

		   {% endfor %}
	    
	     
	    $('select[name="region"]').val("{{ad.secteurname}}").trigger('change');
	    $('select[name="ville"]').val("{{ad.villename}}").trigger('change');
 		$('input[name="price"]').val("{{ad.price}}");
 		$('input[name="title"]').val("{{ad.title}}");
 		$('textarea[name="description"]').val(`{{ad.description}}`);

		$('.supp-img').on('click',function(){
			$(this).parent('.supprimer-img').find('.id-img').removeAttr('disabled');
			$(this).parent('.supprimer-img').find('.lead').css('background','red');
			$(this).hide();
			$(this).parent('.supprimer-img').find('.rajouter').show();
		});
		$('.rajouter').on('click',function(){
			
			$(this).parent('.supprimer-img').find('.id-img').attr('disabled','disabled');
			$(this).parent('.supprimer-img').find('.lead').css('background','white');
			$(this).hide();
			$(this).parent('.supprimer-img').find('.supp-img').show();
		});
		$('select[name="messageRefuser"]').on('change',function(){
			if($(this).val() !== "")
			{
				$('input[name="ad-operation"]').removeAttr('disabled');
			}else{
				$('input[name="ad-operation"]').attr('disabled','disabled');
			}


		});
			     			  	
 	});
      </script>
 	 
 {% endblock %}
