{% extends 'layoutAdmin.html.twig'%}
{% block title %}77Maroc-List{% endblock %}
 {% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
        </div>
        {% if boiteDesactiver %}
            <div class="alert alert-info alert-with-icon text-center" data-notify="container">
                      <i class="material-icons" data-notify="icon">notifications</i>
                      <span data-notify="message">Cette boite est desactiver à ce moment !.</span>
                </div>
        {% else %}
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">assignment</i>
                </div>
                 <div class="card-content">
                <h4 class="card-title">Liste des Annonces encours de traitment </h4>
                <div class="material-datatables">
                    <table id="table-box-ad" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                        <thead>
                            <tr>
                                <th class="text-center">User</th>
                                <th class="text-center">Categorie</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Ville</th>
                                <th class="text-center">Date</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr class="text-center">
                                <th class="text-center">User</th>
                                <th class="text-center">Categorie</th>
                                <th class="text-center">Prix</th>
                                <th class="text-center">Ville</th>
                                <th class="text-center">Date</th>
                                <th class="disabled-sorting text-center">Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for ad in ads %}
                            <tr class="text-center" id="{{ad.id}}">
                              
                                <td>{{ad.user.email}}</td>
                                <td>{{ad.category}}</td>
                                <td>{{ad.price}}</td>
                                <td>{{ad.villename}}</td>
                                <td>{{ad.createdAt|date("m/d/Y H:i:s") }}</td>
                             
                                <td class="text-center">
                                    <a href="{{ path('box_ad_trait',{'id':ad.id})}}" class="btn btn-simple btn-success btn-icon edit"><i class="material-icons">remove_red_eye</i></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                <!-- end content-->
            </div>
        {% endif %}
        <!--  end card  -->
    </div>
    <!-- end col-md-12 -->
</div>
<script>
    jQuery(document).ready(function(){
        $('#table-box-ad').DataTable();
    });
</script>

{% endblock %}