

{% extends 'layoutAdmin.html.twig' %} 
{% block title %}77maroc-Details annonce{% endblock %}
{% block content %}
  
<div class="section" id="DetailsAnnonce">

    <main id="main" role="main">
  	<section class="content-center">

  		<div class="row" style="margin-bottom:10px;">
			  
            <div class="alert alert-info text-center" style=" padding:6px;">

				  {% if ad.status is null %}
				  		 
				  		 <i class="fa fa-info-circle" aria-hidden="true"></i>Annonce en attente
						
				  {% elseif ad.status == false %}
				  	 <i class="fa fa-ban" aria-hidden="true"></i>Annonce est desactiver
						 </ul>
				  {% else %}
					
				    		<i class="fa fa-ban" aria-hidden="true"></i>Annonce est active

				  {% endif %}



				</div>
           
       
        </div>

  	
    <div class="row">
  
      <div class="col-md-12 col-sm-12 col-xs-12">

      	   <!-- begin slider-->
			  <div class="col-lg-12 col-sm-12 col-xs-12 slider-ad">
			  
			   {%  if ad.images is empty%}
			   		<p class="text-center">
			   			no image exist
			   		</p>
				{% else %}
					<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:480px;overflow:hidden;visibility:hidden;">
			        <!-- Loading Screen -->
			        <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
			            <img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="{{ asset('plugins/front/img/spin.svg')}}" />
			        </div>
    					<div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
			            
    					{% for image in ad.images %}
				            <div data-p="170.00">
				                <img data-u="image" src="{{ vich_uploader_asset(image, 'pathFile')|imagine_filter('ad_thumb_big') }}" />
				                <img data-u="thumb" src="{{ vich_uploader_asset(image, 'pathFile') |imagine_filter('ad_thumb_small')}}" />
				            </div>
			        	{% endfor %}
			         
			        </div>
			        <!-- Thumbnail Navigator -->
			        <div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#000;" data-autocenter="1" data-scale-bottom="0.75">
			            <div data-u="slides">
			                <div data-u="prototype" class="p" style="width:190px;height:90px;">
			                    <div data-u="thumbnailtemplate" class="t"></div>
			                    <svg viewbox="0 0 16000 16000" class="cv">
			                        <circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
			                        <line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
			                        <line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
			                    </svg>
			                </div>
			            </div>
			        </div>
			        <!-- Arrow Navigator -->
			   
			   </div>
			  

            <!-- end slider-->
        {% endif %}

</div>
            <div class="col-lg-12 col-sm-12 col-xs-12 detail-ad" style="border:1px solid #ccc;background-color:#e6e6e6; margin:16px; padding:8px;">
            	<h5 style="margin-left:18px; font-weight:300;">Mise en ligne le : <i style="color:#9a9a9a;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;{{ ad.createdAt|date('d/m/Y')}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i style="color:#9a9a9a;" class="fa fa-map-o" aria-hidden="true"></i>&nbsp;{{ad.villename|replace('_',' ')}}/{{ad.secteurname}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i tyle="color:#9a9a9a;" class="fa fa-money" aria-hidden="true"></i>&nbsp;<span class="text-primary">{{ad.price}} DH<span></h5>
            	<p style="margin-left:18px; font-weight:300;" class="text-lead">
            		 {% if ad.user is not null %}
		                {% for role in ad.user.roles if role == 'ROLE_VETRINE' %}
		                Annonce de boutique : <strong>{{ad.user.slug}}</strong> &nbsp; 
		                <img style="margin-left:5px;max-width:50px; max-height:100px;" src="{{ asset('img/verifiedAd.png')}}"> 
		                {% endfor %}
		              {% endif %}
            	</p>
            	<hr  style="border:0.5px solid white;" />
            {# 	{{ dump(ad)}} #}
            	<div class="col-lg-12 col-md-5 col-sm-12 col-xs-12">
					 <ul class="list-group">
					 	<li class="list-group-item">
					  		<h4 class="text-primary"><i style="color:#9a9a9a;" class="fa fa-bandcamp" aria-hidden="true"></i>&nbsp;Details</h4>
					  	</li>
			  
				 	  <li class="list-group-item">
					 	  <div class="row">
					 	  	<div class="col-lg-6"><span class="text-left" style="color:#9a9a9a; font-weight:bold;">CATEGORIE</span></div>
					 	  	<div class="col-lg-6"><span class="text-left" style="font-weight:bold;">{{ad.category}}</span></div>	
					 	  </div>
					  </li>
					  {% if ad.latlng is not empty %}
					   <li class="list-group-item">
					 	  <div class="row">
					 	  	<div class="col-lg-6"><span class="text-left" style="color:#9a9a9a; font-weight:bold;">Localisation</span></div>
					 	  	<div class="col-lg-6">   
					 	  		<span class="text-left" style="font-weight:bold;">
					 	  		 	<button style=" font-size: 11px;width: 100%;" type="button" id="showMap" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-map-marker" aria-hidden="true"></i>{{ad.latlng|replace(')',' ')|replace('(',' ')}}</button>
					 	  		 </span></div>	
					 	  </div>
					 	  <input type="hidden" name="latLng" id ="lanlang-value" value="{{ad.latlng}}">
					  </li>
					{% endif %}
					  {% for key, option  in ad.listoptions%}
						   
					        <li class="list-group-item">
						 	  <div class="row">
						 	  	<div class="col-lg-6"><span class="text-left" style="color:#9a9a9a; font-weight:bold;">{{key|replace('_',' ')|camelToSpace|upper}}</span></div>
						 	  	<div class="col-lg-6"><span class="text-left" style=" font-weight:bold;">
						 	  		 {{option|replace('_',' ')}}	</span></div>
						 	  </div>
						  </li>
						  
					{% endfor %}

					 
					 
					 </ul>
            	</div>
            	<div class="col-lg-12 col-md-7 col-sm-12 col-xs-12" style="padding:5px; background-color:white;">
            		<h4 class="text-primary"><i style="color:#9a9a9a;" class="fa fa-list-alt"></i>&nbsp;Description</h4>
            		<p class="text-left">{{ad.description}}.
            		</p>
            	</div>
        	   {% if ad.urlwebsite is not empty %}
	            	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px; margin-top:5px; background-color:white;">
	            		<h4 class="text-primary"><i style="color:#9a9a9a;" class="fa fa-google"></i>&nbsp;site web</h4>
	            		 <div class="lead"><a href="{{ad.urlwebsite}}" target="_blank">LIEN</a></div>
	            		 
	            	
	            	</div>
    	         {% endif %}
            	{% if ad.urlyoutube is not empty %}
	            	<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:5px;  margin-top:5px;">
            		<h4 class="text-primary"><i style="color:#9a9a9a;" class="fa fa-youtube-square"></i>&nbsp;Video</h4>
	            		   <div class="embed-responsive embed-responsive-16by9" id="myCode" data-val-video="{{ad.urlyoutube}}"></div>
	            	
	            	</div>
    	         {% endif %}
    	         
    	      
               
            </div>
        </div>
    
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	  <div class="modal-dialog modal-lg" role="document">
	    <div class="modal-content">
	      <div id="map" style="height:100vh"></div>
	    </div>
	  </div>
	</div>


    </section>
</main>	

	<!--begin pub-->
 





{% endblock %}
 {% block specifics_javascripts %}
		<script src="{{ asset('plugins/front/js/jssor.slider.min.js')}}" ></script>
		<script src="{{ asset('plugins/front/js/app_carousel.js')}}" ></script>
		<script>
			$(document).ready(function(){
					$('#hide-num-btn').on('click',function(){
						$(this).remove();
						$('a#show-num-btn').show();
					});
        				function getId(url) {
						    var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
						    var match = url.match(regExp);

						    if (match && match[2].length == 11) {
						        return match[2];
						    } else {
						        return 'error';
						    }
						}
						if($('#myCode').length)
						{		
						var myId = getId($('#myCode').attr('data-val-video'));

						$('#myCode').html('<iframe class="embed-responsive-item" width="560" height="315" src="//www.youtube.com/embed/' + myId + '" frameborder="0" allowfullscreen></iframe>');
						}
            		    
				
				$('#showMap').on('click', function () {
				   // google.maps.event.trigger(map, "resize");
					
					var locationToStringed = $('#lanlang-value').val();
					var input = locationToStringed.replace('(', '');
					var latlngStr = input.split(",", 2);
					var lat = parseFloat(latlngStr[0]);
					var lng = parseFloat(latlngStr[1]);
					var parsedPosition = new google.maps.LatLng(lat, lng);
					map.setCenter(parsedPosition);
					map.setZoom(14);
				     var marker = new google.maps.Marker({
				          position: parsedPosition,
				          map: map
				        });
				});
				$('a.class-signaler').on('click',function(){

				});
				$('a.send-signaler').on('click',function(){
					
				});
					

				});
		</script>
		<script>

		function initMap() {
				        var haightAshbury = {lat: 33.589886, lng:-7.603869};

				        map = new google.maps.Map(document.getElementById('map'), {
				          zoom: 5,
				          center: haightAshbury,
				          mapTypeId: 'terrain'
				        });

				     
				      }
		</script>
		  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvw5GTN-dwAV7zOWKod5WNyrcygUKMgM8&libraries=places&callback=initMap">
    </script>
 {% endblock %}
