{% extends 'layoutFront.html.twig' %}
{% block content %}
         <section class="content-center">

                    <h1 class="grey small no-border">Tous les bouiques </h1>
                 
                    <div class="apn-mb">
                        <div id="mb-s" class="teal-apn"></div>
                        <div id="mb-m" class="teal-apn"></div>
                        <div id="mb-l" class="teal-apn"></div>
                        <div id="mb-xl" class="teal-apn"></div>
                    </div>

                    <!-- Main container for listing and ALU -->
                    <section id="listingAds" class="grid-3-1">
                        <!-- Listing -->
                        <section class="list mainList tabs">

                            <div class="apn-lt" id="lt_1">
                                <div id="lt-s" class="teal-apn"></div>
                                <div id="lt-m" class="teal-apn"></div>
                            </div>

                            <!-- Listing filters -->

                         

                            <!-- Listing list -->
                            <section class="tabsContent block-white dontSwitch">
                                <ul>

                                

                                    {% if showrooms is empty %}
                                         <h1> Aucune Boutique Trouvé </h1>
                                    {% else %}

                                        {% for showroom in showrooms %}

                                    <li >
                                        <a href="{{ path('showroomads_index',{'slug':showroom.slug}) }}" class="list_item clearfix trackable" >
                                            <!-- Listing item image -->

                                            <div class="item_image">
                                                <span class="item_imagePic" style="background:url('../') center no-repeat;">
                                               </span>

                                            </div>

                                            <!-- Save ad (Mes annonces) -->

                                            <!-- Listing item info -->
                                            <section class="item_infos">
                                                <h2 class="item_title" itemprop="name"> {{ showroom.namevetrine }}</h2>

                                                <p class="item_supp" itemprop="category" content="Mat&eacute;riel Agricole">

                                                    {{ showroom.namevetrine }}

                                                </p>

                                                <p class="item_supp" itemprop="availableAtOrFrom">

                                                    

                                                    <meta itemprop="address" content="Jumièges" /> {{ showroom.namevetrine }}
                                                    <meta itemprop="address" content="Seine-Maritime" />

                                                </p>
                                                <meta itemprop="priceCurrency" content="EUR" />

                                                <aside class="item_absolute">
                                                    <p class="item_supp" itemprop="availabilityStarts" content="2018-02-25">

                                                       .....
                                                    </p>
                                                </aside>
                                            </section>
                                        </a>
                                    </li>

                                    {% endfor %}
                                        
                                    {% endif %}

                                </ul>
                            </section>

                            <footer class="pagination clearfix">

                                {{ knp_pagination_render(showrooms) }}
                            </footer>

                        </section>

                      <!-- ALU -->
                      {% include 'PartialsFront/side-ads.html.twig' %}

                    </section>

                </section>
{% endblock %}
        