{% extends 'layoutFront.html.twig' %}
{% block content %}
         <section class="content-center">

                    <h1 class="grey small no-border">Tous les annonces de {{ user.namevetrine }} </h1>
                    <!--
-->
                    <div class="apn-lt">
                        <div id="lt-l" class="teal-apn"></div>
                        <div id="lt-xl" class="teal-apn"></div>
                    </div>

                    <div class="apn-b">
                        <div id="b1-s" class="teal-apn"></div>
                        <div id="b1-m" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-m" class="teal-apn"></div>
                        <div id="b1-l" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-l" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b3-l" class="teal-apn"></div>
                        <div id="b1-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b2-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b3-xl" class="teal-apn"></div>
                        <!--
    -->
                        <div id="b4-xl" class="teal-apn"></div>
                        <div class="clear"></div>
                    </div>

                    <div class="apn-mb">
                        <div id="mb-s" class="teal-apn"></div>
                        <div id="mb-m" class="teal-apn"></div>
                        <div id="mb-l" class="teal-apn"></div>
                        <div id="mb-xl" class="teal-apn"></div>
                    </div>

                    <!-- Main container for listing and ALU -->
                    <section id="listingAds" class="grid-3-1">
                        <!-- Listing -->
                        <section class="list mainList tabs">

                            <div class="apn-lt" id="lt_1">
                                <div id="lt-s" class="teal-apn"></div>
                                <div id="lt-m" class="teal-apn"></div>
                            </div>
 
                            <section class="tabsContent block-white dontSwitch">
                                <ul>

                                

                                    {% if ads is empty %}
                                         <h1> Aucune annonce Trouvé pour cette boutique </h1>
                                    {% else %}

                                        {% for ad in ads %}

                                    <li>
                                        <a href="{{ path('detail_ad',{'slug':ad.slug})}}" title="" class="list_item clearfix trackable">
                                            <!-- Listing item image -->

                                            <div class="item_image">
                                                <span class="item_imagePic" style="background:url('../') center no-repeat;">
                                               </span>

                                            </div>

                                            <!-- Save ad (Mes annonces) -->

                                            <!-- Listing item info -->
                                            <section class="item_infos">
                                                <h2 class="item_title" itemprop="name"> {{ ad.title }}</h2>

                                                <p class="item_supp" itemprop="category" content="Mat&eacute;riel Agricole">

                                                    {{ ad.title }}

                                                </p>

                                                <p class="item_supp">

                                                    

                                                    <meta itemprop="address" content="Jumièges" /> {{ ad.title }}
                                                    <meta itemprop="address" content="Seine-Maritime" />

                                                </p>
                                                <meta itemprop="priceCurrency" content="EUR" />

                                                <aside class="item_absolute">
                                                    <p class="item_supp" itemprop="availabilityStarts" content="2018-02-25">

                                                       {{ ad.createdAt|date('Y-m-d') }}
                                                    </p>
                                                </aside>
                                            </section>
                                        </a>
                                    </li>

                                    {% endfor %}
                                        
                                    {% endif %}

                                </ul>
                            </section>

                             <footer class="pagination clearfix">
                                {{ knp_pagination_render(ads) }}
                            </footer>

                        </section>

                      <!-- ALU -->
                      {% include 'PartialsFront/side-ads.html.twig' %}

                    </section>

                </section>
{% endblock %}
        