{% extends 'layoutFront.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block block_no_filter %}
         <section style="overflow: hidden; border-top: 3px solid #61304b; margin-bottom: 30px;" class="content-center main-login main-center">
<h3 style="text-align: center;"> {{ 'register.title'|trans }} </h3>
                        {{form_start(form,{'attr':{'class':'form-horizontal'}}) }}


                        <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">{{ 'register.status.label'|trans }}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-cog fa" aria-hidden="true"></i></span>
									        {{form_widget(form.status)}}   
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">{{ 'register.name.label'|trans }}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									{{form_widget(form.firstName,{'attr':{'placeholder': 'register.name.placeholder'|trans }})}} 
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">{{ 'register.email.label'|trans }}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									{{form_widget(form.email,{'attr':{'placeholder': 'register.email.placeholder'|trans }})}} 
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">{{ 'register.phone.label'|trans }}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
									{{form_widget(form.phone,{'attr':{'placeholder': 'register.phone.placeholder'|trans }})}} 
								</div>
							</div>
						</div>


						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">{{ 'register.password.label'|trans }}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{form_widget(form.plainPassword.first,{'attr':{'placeholder': 'register.password.placeholder'|trans }})}} 
								</div>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">{{ 'register.password_confirm.label'|trans }}</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									{{form_widget(form.plainPassword.second,{'attr':{'placeholder': 'register.password_confirm.placeholder'|trans }})}} 
								</div>
							</div>
						</div>

						<div class="form-group ">
							<button type="submit" class="btn btn-primary btn-lg btn-block login-button">{{ 'register.register'|trans }}</button>
						</div>
						<div class="login-register">
				            <a href="{{ path('account_login') }}">{{ 'register.login'|trans }}</a>
				         </div>

								

                         
                        {{ form_row(form._token) }}
                        {{ form_end(form, {'render_rest': false}) }}


                
          </section>
{% endblock %}
        