{% extends 'layoutFront.html.twig' %} 

    {% block block_no_filter %}

<section class="content-center buypack">


  <div class="row">
    	{% include 'FlashMessages/FlashMessages.html.twig'%}
  </div>
 
  <h3 style="display: inline-block;">{{ 'payment_page.message.attractive_ad'|trans }}</h3>
 
 
  <h3 class="total-price">{{ 'payment_page.message.total'|trans }} : {{Attractive_ad_price}} {{ 'global.devise'|trans }}</h3> 





                     <li style="margin-bottom: 50px;list-style: none;">
                        <a href="{{ path('detail_ad',{'slug':ad.slug})}}" class="list_item clearfix trackable">
                            <div class="item_image">
                                
                                {% set  imageFirst= ad.images|first %}
                             {#    {% if imageFirst is not null %}
                                <span class="item_imagePic" style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">
                                           </span>
                                {% endif %} #}
                            </div>
                            <section class="item_infos">
                                <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ ad.title }}</h2>
                                <p class="item_supp" itemprop="category" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" content="{{ ad.villename }} - {{ ad.secteurname}}">
                                    {{ ad.villename }} - {{ ad.secteurname}}
                                        
                                </p>
                                <p class="item_supp" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" ><i style="color:blue !important;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
                                  {{ad.createdAt|date('Y-m-d')}}
                                  
                                </p>
                              
                                <aside class="adprice item_absolute">
                                    <p class="item_supp" content="{{ad.createdAt|date('Y-m-d H:i:s')}}">
                                        <span style=" font-weight: bold;">{{ad.price}} {{ 'global.devise'|trans }}</span>
                                    </p>
                                </aside>
                            </section>
                        </a>
                    </li>    
                    <div> <h4> {{ 'payment_page.message.ad_will_be'|trans }} : </h4> </div>
                     <li style="list-style: none;">
                        <a href="{{ path('detail_ad',{'slug':ad.slug})}}" class=" attractive list_item clearfix trackable" style="border-bottom: none;">
                            <div class="item_image">
                                
                                {% set  imageFirst= ad.images|first %}
                             {#    {% if imageFirst is not null %}
                                <span class="item_imagePic" style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">
                                           </span>
                                {% endif %} #}
                            </div>
                            <section class="item_infos">
                                <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ ad.title }}</h2>
                                <p class="item_supp" itemprop="category" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" content="{{ ad.villename }} - {{ ad.secteurname}}">
                                    {{ ad.villename }} - {{ ad.secteurname}}
                                        
                                </p>
                                <p class="item_supp" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" ><i style="color:blue !important;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
                                  {{ad.createdAt|date('Y-m-d')}}
                                  
                                </p>
                              
                                <aside class="adprice item_absolute">
                                    <p class="item_supp" content="{{ad.createdAt|date('Y-m-d H:i:s')}}">
                                        <span style=" font-weight: bold;">{{ad.price}} {{ 'global.devise'|trans }}</span>
                                    </p>
                                </aside>
                            </section>
                        </a>
                    </li>

<div class="col-xs-6" style="padding: 10px;margin-bottom: 26px;">
        
    <form action="/action_page.php">
            <div class="form-group">
                <label for="text">{{ 'payment_bycard.form.fname'|trans }}</label>
                <input type="text" class="form-control" placeholder="{{ 'payment_bycard.form.fname'|trans }}" >
            </div>
            <div class="form-group">
                <label for="text">{{ 'payment_bycard.form.lname'|trans }}</label>
                <input type="text" class="form-control" placeholder="{{ 'payment_bycard.form.lname'|trans }}" >
            </div>
            <div class="form-group">
                <label for="email">{{ 'payment_bycard.form.email'|trans }}</label>
                <input type="email" class="form-control" placeholder="{{ 'payment_bycard.form.email'|trans }}">
            </div>
            <div class="form-group">
                <label for="phone">{{ 'payment_bycard.form.phone'|trans }}</label>
                <input type="text" class="form-control" placeholder="{{ 'payment_bycard.form.phone'|trans }}">
            </div>
            
            
                        <button style="color: #fff;background-color: #0183D5;margin: auto;display: block;font-weight: 600;" type="submit" class="btn btn-default">{{ 'payment_bycard.form.button'|trans }}</button>
    </form>
            
</div> 

        <div class="col-xs-6" style="font-weight: bold;padding-top: 28px;">

          <img style="margin: auto;display: block;" src="{{ asset('plugins/front/img/card.png')}}">
          <p style="    padding: 34px;text-align: center;font-size: 19px;">
               {{ 'payment_bycard.message'|trans }} 77maroc.ma
 
          </p>
              

        </div>


     </section>

  {% endblock %}
 