{% extends 'layoutFront.html.twig' %} 

{% block block_no_filter %}
 
 <section class="content-center ">

             <div class="small-content-center" style="padding: 20px;">
                   <h2 style="text-align: center"> {{ 'before_payment.message.attractive_ad'|trans }} {{Attractive_ad_price}} {{ 'global.devise'|trans }} </h2>      
                   <a  style="height: 50px;line-height: 2.5;" href="{{ path("attractivead_choose_payment_methode_index",{'ad':ad.id}) }}" class="btn btn-warning btn-block"><i class="fa fa-money" aria-hidden="true"></i> {{ 'before_payment.message.button_star_attractive_ad'|trans }} </a>
				    
             </div>
                           
 </section>
				

{% endblock %}