{% extends 'layoutFront.html.twig' %} 

    {% block block_no_filter %}

<section class="content-center buypack" style="margin-bottom: 36px;">


  <div class="row">
    	{% include 'FlashMessages/FlashMessages.html.twig'%}
  </div>
 
  <h3 style="display: inline-block;">{{ 'payment_page.message.attractive_ad'|trans }}</h3>
 
 
  <h3 class="total-price">{{ 'payment_page.message.total'|trans }} : {{Attractive_ad_price}} {{ 'global.devise'|trans }}</h3> 





                     <li style="list-style: none;">
                        <a href="{{ path('detail_ad',{'slug':ad.slug})}}" class="list_item clearfix trackable" style="border-bottom: none;">
                            <div class="item_image">
                                
                                {% set  imageFirst= ad.images|first %}
                             {#    {% if imageFirst is not null %}
                                <span class="item_imagePic" style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">
                                           </span>
                                {% endif %} #}
                            </div>
                            <section class="item_infos">
                                <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ ad.title }}</h2>
                                <p class="item_supp" itemprop="category" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" content="{{ ad.villename }} - {{ ad.secteurname}}">
                                    {{ ad.villename }} - {{ ad.secteurname}}
                                        
                                </p>
                                <p class="item_supp" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" ><i style="color:blue !important;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
                                  {{ad.createdAt|date('Y-m-d')}}
                                  
                                </p>
                              
                                <aside class="adprice item_absolute">
                                    <p class="item_supp" itemprop="availabilityStarts" content="{{ad.createdAt|date('Y-m-d H:i:s')}}">
                                        <span style=" font-weight: bold;">{{ad.price}} {{ 'global.devise'|trans }}</span>
                                    </p>
                                </aside>
                            </section>
                        </a>
                    </li>    
                    <div> <h4> {{ 'payment_page.message.ad_will_be'|trans }} : </h4> </div>
                     <li style="list-style: none;">
                        <a href="{{ path('detail_ad',{'slug':ad.slug})}}" class=" attractive list_item clearfix trackable" style="border-bottom: none;">
                            <div class="item_image">
                                
                                {% set  imageFirst= ad.images|first %}
                             {#    {% if imageFirst is not null %}
                                <span class="item_imagePic" style="background:url('{{ vich_uploader_asset(imageFirst, 'pathFile') |imagine_filter('ad_thumb_small') }}') center no-repeat;">
                                           </span>
                                {% endif %} #}
                            </div>
                            <section class="item_infos">
                                <h2 class="item_title" itemprop="name" style=" font-weight: bold;">{{ ad.title }}</h2>
                                <p class="item_supp" itemprop="category" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" content="{{ ad.villename }} - {{ ad.secteurname}}">
                                    {{ ad.villename }} - {{ ad.secteurname}}
                                        
                                </p>
                                <p class="item_supp" style="line-height: 47px;
                                        color: #9a9a9a;
                                        font-weight: bold;" ><i style="color:blue !important;" class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;
                                  {{ad.createdAt|date('Y-m-d')}}
                                  
                                </p>
                              
                                <aside class="adprice item_absolute">
                                    <p class="item_supp" itemprop="availabilityStarts" content="{{ad.createdAt|date('Y-m-d H:i:s')}}">
                                        <span style=" font-weight: bold;">{{ad.price}} {{ 'global.devise'|trans }}</span>
                                    </p>
                                </aside>
                            </section>
                        </a>
                    </li>
<form action="{{ path('attractivead_choose_payment_methode_index', { 'ad':ad.id }) }}" method="POST">

<div id="PaymentSection" class="_bootstrap panel-body vas-elem flip-in-hor-bottom" style="padding-bottom: 0px; font-family: roboto;">
	<div class="jumbo-container payment-step-2" style="opacity: 1; padding: 10px;">
		<div class="section col-xs-12 col-md-12">
			<div class="heading">
				<h1 style="font-family: Roboto; font-size: 20px; font-weight: bold; margin: 0px;">{{ 'payment_choose.top_title'|trans }}</h1>
				<h6 class="helperText">{{ 'payment_choose.bottom_title'|trans }} √</h6>
			</div>
			<div class="payment-methods row">
				<label class="payment-method col-xs-12 col-md-6" for="yyyy">
					<span class="method-title">{{ 'payment_choose.by_sold'|trans }}</span>
					<div class="icon-container">
						<img src="{{ asset('plugins/front/img/payment_img.png')}}">
						</div>
						<div class="radio-container">
							<input id="yyyy" name="payment-type" type="radio" value="card" data-smartlook_2fecb6293ed16="false">{{ 'payment_choose.choose'|trans }}
							</div>
						</label>
						<label class="payment-method col-xs-12 col-md-6" for="xxx">
							<span class="method-title">{{ 'payment_choose.by_card'|trans }}</span>
							<div class="icon-container">
								<img src="{{ asset('plugins/front/img/online-pay.png')}}">
								</div>
								<div class="radio-container">
									<input id="xxx" name="payment-type" type="radio" value="sold">{{ 'payment_choose.choose'|trans }}
									</div>
								</label>
							</div>
						</div>
					</div>
					<div class="jumbo-container" style="margin: 0px 15px; display: flex; flex-direction: row-reverse;">
					<input style="margin: auto;display: block;width: 140px;" id="nextchoosepay" disabled type="submit" class="btn btn-success" value="{{ 'payment_choose.next'|trans }}">
</div>
</form>
</section>
 
 {% block specifics_javascripts %}

   <script type="text/javascript">
      
         $(document).ready(function(){

               $('label[for="yyyy"]').click(function(){
                    $('#nextchoosepay').removeAttr('disabled');  
                });
              
               $('label[for="xxx"]').click(function(){
                    $('#nextchoosepay').removeAttr('disabled');  
                });
         });

   </script>

 


  {% endblock %}
{% endblock %}
   
  

 