 <div class="modal fade" id="modal-{{idUser}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h5>Vous voulez varimant supprimer {{message}} ?</h5>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-simple" data-dismiss="modal">Non</button>
                <button type="button" data-id="{{idUser}}" class="btn btn-success btn-simple btn-delete-user">Confirmer</button>
            </div>
        </div>
    </div>
</div>
