<div class="modal fade" id="modal-solde-{{idUser}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="material-icons">clear</i>
                </button>
                              <h6 class="modal-title">Solde de <span class="text-primary">{{lastName}} {{firstName}}</span></h6>

            </div>
            <div class="modal-body" style="margin-top:0px !important;">

                <div class="form-group">
                    <label class="label-control">Solde DH</label>
                    <input type="text" class="form-control" id="soldeCurrent-{{idUser}}" value="{% if solde is null %}0{% else %}{{solde}}{% endif %}">
               </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Close</button>
                <button type="button" data-id="{{idUser}}"  class="btn btn-simple btn-edit-solde">Valider</button>
            </div>
        </div>
    </div>
</div>