{% extends 'layoutFront.html.twig' %}

 

 

{% block block_no_filter %}
    <section class="content-center" style="overflow: hidden;">

 <div class="container-text-primary" style="width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    margin-bottom: 20%;">
		
		<main class="popin-content-template_main">
			 <header class="popin-content-template_header">
			<h2>{{ 'forgotpassword.after_request'|trans }}</h2>
		</header>
		</main>
	</div>
 

	 
</section>
 {% block specifics_javascripts %}  
            <script>
			  
			         $(".container-text-primary").flexHeight();
			   
			</script>
 {% endblock %}
{% endblock block_no_filter %}
