 



{% block subject -%}
    {{ 'email_message.forgotpassword.subject'|trans }}
{%- endblock %}



{% block body -%}
 
      
{{ 'email_message.forgotpassword.body'|trans }} .
       
                             {{ 'email_message.forgotpassword.link'|trans }}  :   {{ confirmationUrl }}
        
{%- endblock %}
