{% extends 'layoutAdmin.html.twig' %}
{% block content%}  

<div class="row">
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                  <i class="material-icons">home</i>
                </div>
                <div class="card-content">
                    <p class="category">IMMOUBILIER VENTE</p>
                    <h3 class="card-title">{{immobilier_vente |length }}</h3>
                </div>
                
            </div>
        </div>

   
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="rose">
                  <i class="material-icons">home</i>
                </div>
                <div class="card-content">
                    <p class="category">IMMOUBILIER LOCATION</p>
                    <h3 class="card-title">{{immobilier_location |length }}</h3>
                </div>
               
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">directions_car</i>
                </div>
                <div class="card-content">
                    <p class="category">VEHICULE</p>
                    <h3 class="card-title">{{vehicule |length}}</h3>
                </div>
               
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                     <i class="material-icons">cast_for_education</i>
                </div>
                <div class="card-content">
                    <p class="category">EMPLOI ET SERVICE</p>
                    <h3 class="card-title">{{emploi_et_service |length}}</h3>
                </div>
               
            </div>
        </div>

         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="orange">
                    <i class="material-icons">book</i>
                </div>
                <div class="card-content">
                    <p class="category">MAISON ET BUREAU</p>
                    <h3 class="card-title">{{maison_et_bureau| length}}</h3>
                </div>
                
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="rose">
                    <i class="material-icons">computer</i>
                </div>
                <div class="card-content">
                    <p class="category">MULTIMEDIA</p>
                    <h3 class="card-title">{{multimedia|length}}</h3>
                </div>
               
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">nature_people</i>
                </div>
                <div class="card-content">
                    <p class="category">LOISIR</p>
                    <h3 class="card-title">{{loisirs|length}}</h3>
                </div>
               
            </div> 
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                     <i class="material-icons">nature_people</i>
                </div>
                <div class="card-content">
                    <p class="category">MODE ET BEAUTE</p>
                    <h3 class="card-title">{{mode_et_beaute|length}}</h3>
                </div>
              
            </div>
        </div>
         <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="green">
                    <i class="material-icons">grain</i>
                </div>
                <div class="card-content">
                    <p class="category">BUSINESS</p>
                    <h3 class="card-title">{{business|length}}</h3>
                </div>
               
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header" data-background-color="blue">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="card-content">
                    <p class="category">Autres</p>
                    <h3 class="card-title">{{Autres|length}}</h3>
                </div>
                
            </div>
        </div>
    {% else %}
    
       <div class="row text-center" style="margin-top:10%;">
            <h1 class="text-lead text-primary">Bienvenue Admin sur l'espace 77maroc</h1>
       </div>
    {% endif %}

        </div>
        
        
{% endblock %}