{% extends 'layoutAdmin.html.twig'%} 
{% block content %}
     <div class="row">
        <div class="toolbar pull-right">
            <a class="btn btn-primary" href="{{ path('index_publicity')}}">
        <span class="btn-label">
            <i class="material-icons">keyboard_arrow_left</i>
        </span>Retourner 
             </a>
        </div>
    </div>
      <div class="row">
            {% include 'FlashMessages/FlashMessages.html.twig'%}
     </div>
<div class="col-md-12">
    <div class="card">
         <div class="row">
            {{ form_errors(formPPUR) }}
            {{ form_errors(formPPUA) }}
        </div>
        <div class="card-header">
            <h4 class="card-title">Publicity Page Principale</h4>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-4">
                    <ul class="nav nav-pills nav-pills-icons nav-pills-info nav-stacked" role="tablist">
                       
                        <li class="active">
                            <a href="#formPPUR" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i>Au dessous de box recherche
                            </a>
                        </li>
                        <li>
                            <a href="#formPPUA" role="tab" data-toggle="tab">
                                <i class="material-icons">border_top</i> Au dessous des annonces recentes
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <div class="tab-content">
                        <div class="tab-pane active" id="formPPUR">
                               {{form_start(formPPUR,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': pubPPUR.id })}) }}
                                    {{form_widget(formPPUR)}}
                                    {% if pubPPUR.image != null %} <img  class="img-pub-show"  src="{{ vich_uploader_asset(pubPPUR, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPPUR)}}
                        </div>
                         <div class="tab-pane" id="formPPUA">
                              {{form_start(formPPUA,{ 'attr' :{'class':'form-horizontal checkPub'},'action':path('publicity_valider',{'id': pubPPUA.id })}) }}
                                    {{form_widget(formPPUA)}}
                                    {% if pubPPUA.image != null %} <img class="img-pub-show" src="{{ vich_uploader_asset(pubPPUA, 'imageFile') }}"  style="height:100px !important;width:100% !important; " />
                                    {% endif %}
                                     <button type="submit" class="btn btn-fill btn-block btn-primary">Valider</button>
                                {{ form_end(formPPUA)}}
                            
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block specifics_javascripts %}
    <script>
   
        $(document).ready(function(){
           $('form.checkPub').each(function(){
                if($(this).find('select.type-pub').val() == "PUB SCRIPT"){
                    $(this).find('.url-pub').hide();
                    $(this).find('.img-pub').hide();
                    $(this).find('.img-pub-show').hide();
                    $(this).find('.script-pub').show();
            }else{
                    $(this).find('.url-pub').show();
                    $(this).find('.img-pub').show();
                    $(this).find('.img-pub-show').show();
                    $(this).find('.script-pub').hide();
            }

           });
      

         $('.type-pub').on('change',function(){
            var parentForm =$(this).closest('form');
             if($(this).val() == "PUB SCRIPT"){
                    parentForm.find('.url-pub').hide();
                    parentForm.find('.img-pub').hide();
                    parentForm.find('.img-pub-show').hide();
                    parentForm.find('.script-pub').show();
            }else{
                    parentForm.find('.url-pub').show();
                    parentForm.find('.img-pub').show();
                    parentForm.find('.img-pub-show').show();
                    parentForm.find('.script-pub').hide();
            }

         });
        
        });
    </script>
{% endblock %}