#footer_content ul li a{
    font-size: 14px;
    color: #fff;
    font-family: "gotham_lightregular";
    line-height: 24px;
    padding-left: 10px;
}

    
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modalll {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contenttt {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#captionnn {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-contenttt, #captionnn {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.closeee {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closeee:hover,
.closeee:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-contenttt {
        width: 100%;
    }
}


    /* COMMON PRICING STYLES */

    .buypack{
        overflow: hidden;
        margin-top: 40px;
    }

     .pricing-model{
         padding-top: 100px;
         padding-bottom: 130px;
         margin: auto;
         width: 80%;

     }

     .pricing-item{
        

     }
     
     .loader {
        border: 2px solid #f3f3f3; /* Light grey */
        border-top: 2px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 22px;
        height: 22px;
        top: 20px;
        right: 16px;
       
        position: absolute;
        animation: spin 2s linear infinite;
    }

    .loader-delete {
        border: 2px solid #f3f3f3; /* Light grey */
        border-top: 2px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 14px;
        height: 14px;
        top: 11px;
        right: 2px;
       
        position: absolute;
        animation: spinn 1s linear infinite;
    }
    
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    @keyframes spinn {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    } 

    .pricing-item .list-group-item{
        min-height: 110px;
    }

        .panel.price,
        .panel.price>.panel-heading{
            border-radius:0px;
             -moz-transition: all .3s ease;
            -o-transition:  all .3s ease;
            -webkit-transition:  all .3s ease;
        }
        .panel.price:hover{
            box-shadow: 0px 0px 30px rgba(0,0,0, .2);
        }
        .panel.price:hover>.panel-heading{
            box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
        }
        
                
        .panel.price>.panel-heading{
            box-shadow: 0px 5px 0px rgba(97,48,75, .6) inset;
            text-shadow:0px 3px 0px rgba(50,50,50, .6);
        }
            
        .price .list-group-item{
            border-bottom-:1px solid rgba(250,250,250, .5);
        }
        
        .panel.price .list-group-item:last-child {
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .panel.price .list-group-item:first-child {
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
        }
        
        .price .panel-footer {
            color: #fff;
            border-bottom:0px;
            background-color:  rgba(0,0,0, .1);
            box-shadow: 0px 3px 0px rgba(0,0,0, .3);
        }
        
        
        .panel.price .btn{
            box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
            border:0px;
        }
        
    /* green panel */
    
        
        .price.panel-green>.panel-heading {
            color: #fff;
            background-color: #57AC57;
            border-color: #71DF71;
            border-bottom: 1px solid #71DF71;
        }
        
            
        .price.panel-green>.panel-body {
            color: #fff;
            background-color: #65C965;
        }
                
        
        .price.panel-green>.panel-body .lead{
                text-shadow: 0px 3px 0px rgba(50,50,50, .3);
        }
        
        .price.panel-green .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }
        
        /* blue panel */
    
        
        .price.panel-blue>.panel-heading {
            color: #fff;
            background-color: #608BB4;
            border-color: #78AEE1;
            border-bottom: 1px solid #78AEE1;
        }
        
            
        .price.panel-blue>.panel-body {
            color: #fff;
            background-color: #73A3D4;
        }
                
        
        .price.panel-blue>.panel-body .lead{
                text-shadow: 0px 3px 0px rgba(50,50,50, .3);
        }
        
        .price.panel-blue .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }
        
        /* red price */
        
    
        .price.panel-red>.panel-heading {
            color: #fff;
            background-color: #D04E50;
            border-color: #FF6062;
            border-bottom: 1px solid #FF6062;
        }
        
            
        .price.panel-red>.panel-body {
            color: #fff;
            background-color: #EF5A5C;
        }
        
        
        
        
        .price.panel-red>.panel-body .lead{
                text-shadow: 0px 3px 0px rgba(50,50,50, .3);
        }
        
        .price.panel-red .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }
        
        /* grey price */
        
    
        .price.panel-grey>.panel-heading {
            color: #fff;
            background-color: #6D6D6D;
            border-color: #B7B7B7;
            border-bottom: 1px solid #B7B7B7;
        }
        
            
        .price.panel-grey>.panel-body {
            color: #fff;
            background-color: #808080;
        }
        

        
        .price.panel-grey>.panel-body .lead{
                text-shadow: 0px 3px 0px rgba(50,50,50, .3);
        }
        
        .price.panel-grey .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }
        
        /* white price */
        
    
        .price.panel-white>.panel-heading {
            color: #333;
            background-color: #f9f9f9;
            border-color: #ccc;
            border-bottom: 1px solid #ccc;
            text-shadow: 0px 2px 0px rgba(250,250,250, .7);
        }
        
        .panel.panel-white.price:hover>.panel-heading{
            box-shadow: 0px 0px 30px rgba(0,0,0, .05) inset;
        }
            
        .price.panel-white>.panel-body {
            color: #fff;
            background-color: #dfdfdf;
        }
                
        .price.panel-white>.panel-body .lead{
                text-shadow: 0px 2px 0px rgba(250,250,250, .8);
                color:#666;
        }
        
        .price:hover.panel-white>.panel-body .lead{
                text-shadow: 0px 2px 0px rgba(250,250,250, .9);
                color:#333;
        }
        
        .price.panel-white .list-group-item {
            color: #333;
            background-color: rgba(50,50,50, .01);
            font-weight:600;
            text-shadow: 0px 1px 0px rgba(250,250,250, .75);
        }




    /*jssor slider loading skin spin css*/

    .jssorl-009-spin img {
        animation-name: jssorl-009-spin;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes jssorl-009-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
    /*jssor slider arrow skin 106 css*/

    .jssora106 {
        display: block;
        position: absolute;
        cursor: pointer;
    }

    .jssora106 .c {
        fill: #fff;
        opacity: .3;
    }

    .jssora106 .a {
        fill: none;
        stroke: #000;
        stroke-width: 350;
        stroke-miterlimit: 10;
    }

    .jssora106:hover .c {
        opacity: .5;
    }

    .jssora106:hover .a {
        opacity: .8;
    }

    .jssora106.jssora106dn .c {
        opacity: .2;
    }

    .jssora106.jssora106dn .a {
        opacity: 1;
    }

    .jssora106.jssora106ds {
        opacity: .3;
        pointer-events: none;
    }
    /*jssor slider thumbnail skin 101 css*/

    .jssort101 .p {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background: #000;
    }

    .jssort101 .p .cv {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 2px solid #000;
        box-sizing: border-box;
        z-index: 1;
    }

    .jssort101 .a {
        fill: none;
        stroke: #fff;
        stroke-width: 400;
        stroke-miterlimit: 10;
        visibility: hidden;
    }

    .jssort101 .p:hover .cv,
    .jssort101 .p.pdn .cv {
        border: none;
        border-color: transparent;
    }

    .jssort101 .p:hover {
        padding: 2px;
    }

    .jssort101 .p:hover .cv {
        background-color: rgba(0, 0, 0, 6);
        opacity: .35;
    }

    .jssort101 .p:hover.pdn {
        padding: 0;
    }

    .jssort101 .p:hover.pdn .cv {
        border: 2px solid #fff;
        background: none;
        opacity: .35;
    }

    .jssort101 .pav .cv {
        border-color: #fff;
        opacity: .35;
    }

    .jssort101 .pav .a,
    .jssort101 .p:hover .a {
        visibility: visible;
    }

    .jssort101 .t {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        opacity: .6;
    }

    .jssort101 .pav .t,
    .jssort101 .p:hover .t {
        opacity: 1;
    }

    .style-div-sh {
        /*border: 1px solid #ccc;*/
        padding: 20px;
        background: white;
        -moz-box-shadow: 0px 2px 12px 4px #ddd ;
        -webkit-box-shadow: 0px 2px 12px 4px #ddd;
         -o-box-shadow: 0px 2px 12px 4px #ddd;
          box-shadow: 0px 2px 12px 4px #ddd
    }

    .inbox-list a{
             margin-bottom: 10px;
             background-color: #fff;
             height: 96px;
    }
    .inbox-list a .message-is-readed{
        position: absolute;
        top: 21px;
        right: 10px;
        color: #05A978;
        font-size: 18px;
    }
    .ads-status{
        position: absolute;
        top: 21px;
        right: 10px;
        font-size: 20px;
    }

    .ads-status.actives{
        color: #46AFA5;
    }

    .ads-status.enattente{
        color: #F18805;
    }

    .ads-status.inactives{
        color: #CC0000;
    }
    .inbox-list a .small-date{
        position: absolute;
        bottom: 5px;
        right: 16px;
    }

    .inbox-list .check-to-delete{
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: 9;
    }
   
    
    .inbox-list a[data-reader='no']{
        background-color: #F1F2EF;
    }
  

    .footer-ul li a {
        text-decoration: none;
        color: white;
    }

    .footer-ul li {
        float: left;
        padding: 10px;
    }

    .footer-ul li a:hover,
    .footer-ul li a.active {
        color: #808080 !important;
        text-decoration: none;
    }

    .headerNav_main li a.active {
        color: #808080 !important;
    }

    @font-face {
        font-family: 'OpenSans';
        src: url('../fonts/opensans-regular-webfont.eot');
        src: url('../fonts/opensans-regular-webfont.woff') format("woff"),
        url('../fonts/opensans-regular-webfont.ttf') format("truetype");
        font-weight: 400;
        font-style: normal;
    }

    .layout,
    .interstitial,
    .tutorialLayout {
        background: url(../../test/img/loader-background.png) repeat;
    }

    .loaderGif {
        background: url(http://test/img/loader.svg) no-repeat center center transparent;
    }

    .flag {
        background-image: url(../../test/img/flag.png);
        background-repeat: no-repeat;
    }

    .logo-site {
        background: url('../img/logo.png') no-repeat center;
    }

    .headerNav .logo-site {
        background-size: auto 45%;
    }

    .ui-icon,
    input.edit {
        background-image: url(../../test/img/jquery_datepicker.png);
    }

    .selectWrapper {
        background: #ffffff url(../../test/img/arrow-select.png) no-repeat right;
    }

    .selectWrapper.blue {
        background: #ffffff url(../../test/img/arrow-select-blue.png) no-repeat right;
    }

    #main.page404 .lostSection-top {
        background: url(http://test/img/beta-404-background.svg) no-repeat right top;
    }

    #backgroundSnow {
        background-image: url(../../test/img/neige2.png);
    }

    #backgroundSnowInner {
        background-image: url(../../test/img/neige.png);
    }

    
    /* fix z-index problem on ie with transparent background */

    .searchbox #searchboxToggleCategory {
        background: url(../../test/img/trans-1px.gif);
    }

    @media (max-width: 971px) {
        .headerNav .logo-site {
            background: url('../img/logo.png') no-repeat center;
        }
    }

    @media (max-width: 768px) {
        #adreply .mobileLoader {
            background: url('http://test/img/loader.svg') no-repeat rgba(0, 0, 0, .8) 50% 50%;
        }
    }

    #adview .item_image.empty {
        background: #f2f2f2 url('../../test/img/no-picture-adview.png') no-repeat center;
    }

    #adview .boutiquePanel {
        background: url('../../test/img/bg-boutique-adview.jpg') no-repeat;
    }

    .loaderGif-small {
        background: url('http://test/img/beta_loader_small.svg') no-repeat center center transparent;
        background-size: 22px 22px;
    }

    #christmas2016 #banner {
        background-image: url('../../test/img/top-bg.png')
    }

    span.help-inline {
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
        display: block;
    }

    .form-control {
        border: 1px solid #e3e3e3;
        height: 44px;
        color: #000;
    }

    #heading {
        border-bottom: 1px solid #f2f2f2;
        color: #000;
        font-size: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .adpost-details label {
        font-size: 16px;
        font-weight: 500;
    }

    .adpost-details label.label-title {
        padding-top: 10px;
    }

    .adpost-details input[type="radio"]+label {
        cursor: pointer;
        margin-right: 20px;
        padding-left: 25px;
        vertical-align: sub !important;
        position: relative;
        color: #838383;
        margin-bottom: 0;
    }

    .adpost-details input[type="radio"] {
        display: none;
    }

    .adpost-details input[type="radio"]+label:before,
    .adpost-details input[type="radio"]+label:after {
        position: absolute;
        top: 5px;
        left: 0;
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 50%;
        display: inline-block;
        background-color: transparent;
    }

    .adpost-details input[type="radio"]+label:before {
        border: 2px solid #00a651;
    }

    .adpost-details input[type="radio"]:checked+label:after {
        border: 5px solid #00a651;
    }

    .required {
        color: #ed1c24;
    }

    .adpost-details .form-control::-webkit-input-placeholder {
        color: #cfcfcf;
    }

    .adpost-details .form-control::-moz-placeholder {
        color: #cfcfcf;
    }

    .adpost-details .form-control:-ms-input-placeholder {
        color: #cfcfcf;
    }


        #christmas2016 #banner {
            background-image:url('../../test/img/top-bg.png')
        }


        .main-login{

    background-color: #fff;

    /* shadows and rounded borders */

    -moz-border-radius: 2px;

    -webkit-border-radius: 2px;

    border-radius: 2px;

    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);



}



.main-center{

    margin-top: 30px;

    margin: 20 auto;

    max-width: 500px;

    padding: 40px 40px;



}



.login-button{

    margin-top: 5px;

}



.login-register{

    font-size: 11px;

    text-align: center;

}





.jumbotron.top-space-action {

    height: 90px;

    margin-left: 10px;

    text-align: center;

    border-radius: 0px;

    margin-top: 50px;

}
.jumbotron.top-space-action >h2{

   line-height: 8px
}


.jumbotron.buttom-space-action {

   

    text-align: center;

    min-height: 85px;

    padding: 20px;

    height: 100%;

    border-radius: 5%;

    margin-bottom:  10px

}





/*.col-md-2.buttom-space-action{

    width: 15.499999995%;

}*/



.row.inner-action{

    margin-top: 50px;

}



.row.inner-action div{

   max-height: 100px;

}

    .adpost-details .form-control:-moz-placeholder {
        color: #cfcfcf;
    }



.espace-content{
    margin-top: 40px;
    margin-bottom: 20px;

}

.espace-content .item_supp{
    margin-bottom: 20px;
}

.card-menu-item{
    font-size: 14px;
    color:#e6e6e6;
}

    
/* CSS for Credit Card Payment form */
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: table;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}

.top-space-action h2{
    font-size: 20px;
}

.espace-content .form-group{
    margin-left: 0px!important;
}

.card-menu-item-active{
  color: #23527c;
  text-decoration: underline;
}


.wizard,
.tabcontrol
{
    display: block;
    width: 100%;
    overflow: hidden;
}

.wizard a,
.tabcontrol a
{
    outline: 0;
}

.wizard ul,
.tabcontrol ul
{
    list-style: none !important;
    padding: 0;
    margin: 0;
}

.wizard ul > li,
.tabcontrol ul > li
{
    display: block;
    padding: 0;
}

/* Accessibility */
.wizard > .steps .current-info,
.tabcontrol > .steps .current-info
{
    position: absolute;
    left: -999em;
}

.wizard > .content > .title,
.tabcontrol > .content > .title
{
    position: absolute;
    left: -999em;
}



/*
    Wizard
*/

.wizard > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.wizard.vertical > .steps
{
    display: inline;
    float: left;
    width: 30%;
}

.wizard > .steps .number
{
    font-size: 1.429em;
}

.wizard > .steps > ul > li
{
    width: 25%;
}

.wizard > .steps > ul > li,
.wizard > .actions > ul > li
{
    float: left;
}

.wizard.vertical > .steps > ul > li
{
    float: none;
    width: 100%;
}

.wizard > .steps a,
.wizard > .steps a:hover,
.wizard > .steps a:active
{
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .steps .disabled a,
.wizard > .steps .disabled a:hover,
.wizard > .steps .disabled a:active
{
    background: #eee;
    color: #aaa;
    cursor: default;
}

.wizard > .steps .current a,
.wizard > .steps .current a:hover,
.wizard > .steps .current a:active
{
    background: #2184be;
    color: #fff;
    cursor: default;
}

.wizard > .steps .done a,
.wizard > .steps .done a:hover,
.wizard > .steps .done a:active
{
    background: #9dc8e2;
    color: #fff;
}

.wizard > .steps .error a,
.wizard > .steps .error a:hover,
.wizard > .steps .error a:active
{
    background: #ff3111;
    color: #fff;
}

.wizard > .content
{
    background: #eee;
    display: block;
    margin: 0.5em;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    width: auto;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard.vertical > .content
{
    display: inline;
    float: left;
    margin: 0 2.5% 0.5em 2.5%;
    width: 65%;
}

.wizard > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.wizard > .content > .body ul
{
    list-style: disc !important;
}

.wizard > .content > .body ul > li
{
    display: list-item;
}

.wizard > .content > .body > iframe
{
    border: 0 none;
    width: 100%;
    height: 100%;
}

/*.wizard > .content > .body input
{
    display: block;
    border: 1px solid #ccc;
}
*/
.wizard > .content > .body input[type="checkbox"]
{
    display: inline-block;
}

.wizard > .content > .body input.error
{
    background: rgb(251, 227, 228);
    border: 1px solid #fbc2c4;
    color: #8a1f11;
}

.wizard > .content > .body label
{
    display: inline-block;
    margin-bottom: 0.5em;
}

.wizard > .content > .body label.error
{
    color: #8a1f11;
    display: inline-block;
    margin-left: 1.5em;
}

.wizard > .actions
{
    position: relative;
    display: block;
    text-align: right;
    width: 100%;
}

.wizard.vertical > .actions
{
    display: inline;
    float: right;
    margin: 0 2.5%;
    width: 95%;
}

.wizard > .actions > ul
{
    display: inline-block;
    text-align: right;
}

.wizard > .actions > ul > li
{
    margin: 0 0.5em;
}

.wizard.vertical > .actions > ul > li
{
    margin: 0 0 0 1em;
}

.wizard > .actions a,
.wizard > .actions a:hover,
.wizard > .actions a:active
{
    background: #2184be;
    color: #fff;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.wizard > .actions .disabled a,
.wizard > .actions .disabled a:hover,
.wizard > .actions .disabled a:active
{
    background: #eee;
    color: #aaa;
}

.wizard > .loading
{
}

.wizard > .loading .spinner
{
}



/*
    Tabcontrol
*/

.tabcontrol > .steps
{
    position: relative;
    display: block;
    width: 100%;
}

.tabcontrol > .steps > ul
{
    position: relative;
    margin: 6px 0 0 0;
    top: 1px;
    z-index: 1;
}

.tabcontrol > .steps > ul > li
{
    float: left;
    margin: 5px 2px 0 0;
    padding: 1px;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tabcontrol > .steps > ul > li:hover
{
    background: #edecec;
    border: 1px solid #bbb;
    padding: 0;
}

.tabcontrol > .steps > ul > li.current
{
    background: #fff;
    border: 1px solid #bbb;
    border-bottom: 0 none;
    padding: 0 0 1px 0;
    margin-top: 0;
}

.tabcontrol > .steps > ul > li > a
{
    color: #5f5f5f;
    display: inline-block;
    border: 0 none;
    margin: 0;
    padding: 10px 30px;
    text-decoration: none;
}

.tabcontrol > .steps > ul > li > a:hover
{
    text-decoration: none;
}

.tabcontrol > .steps > ul > li.current > a
{
    padding: 15px 30px 10px 30px;
}

.tabcontrol > .content
{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35em;
    overflow: hidden;
    border-top: 1px solid #bbb;
    padding-top: 20px;
}

.tabcontrol > .content > .body
{
    float: left;
    position: absolute;
    width: 95%;
    height: 95%;
    padding: 2.5%;
}

.tabcontrol > .content > .body ul
{
    list-style: disc !important;
}

.tabcontrol > .content > .body ul > li
{
    display: list-item;
}
.btn-toolbar .sw-btn-group,.btn-toolbar .sw-btn-group-extra{
  float: right;
}
#father-tree{
  background-color:#dcdcc3;
   font-weight: bold;
}
.file_decorator{

    position: relative;
    float: left;
    height: 152px;
    width: 170px;
    background: #f2f2f2;
    border: 1px dashed #ccc;
    padding: 0;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
}

#language-selector{
    
    width: 56px;
    display: inline-flex;
    top: 21px;
    right: 22%;
}

#language-selector li{
    margin-left: 10px;
}

#language-selector a{
    text-decoration: none;
    color: #fff;

}

#header .header_aside .myAccount_nav a:last-child{
    border: none;
}

.thany-you-page #header{
    background: none;
}

.small-content-center{
    position: absolute;
    top: 50%;
    margin: auto;
    left: 0;
    max-width: 600px;
    right: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.for-small-content{
    position: absolute !important;
    bottom: 0;width: 100%;
}

.buypack .total-price{
    display: inline-block;
    float: right;
    color: #61304b;
    text-decoration: underline;
    
}

.ad-detail-actions i{
    margin-left: 10px;
}

.headerNav_main .new-add{
    height: 42px;
    margin-top: 8px;
    background: #0183D5;
    text-align: center;
    border-radius: 4px;
    line-height: 44px;
}

.headerNav_main .new-add:hover{
     color: #fff;   
     background-color: #166799;
}

/******************************************************/
/****************** Responsive Style ******************/
/******************************************************/

@media (max-width: 768px) {
    
    .content-center .jumbotron {
        margin: 10px auto 0px;
    }
    .row.espace-content{
        margin: 10px auto;
        padding-top: 16px;
    }
    .row.espace-content .list-group-item{
        text-align: center;
    }

    .content-center .container{
          padding-left: 0;
          padding-right: 0;
    }
    .content-center .espace-content-inner{
        padding: 0;
    }

    .espace-content-inner .listingAds{
        margin: auto;
    }
}

/******************* Payment Method **********************/

.payment-step-2 {
    padding: 20px;
    padding-bottom: 5px;
    height: auto;
    overflow: hidden;
    background: white;
    border-radius: 3px;
    display: flex;
  }
  .payment-step-2 .payment-methods {
    display: flex;
  }
  .payment-step-2 .image-container-section img {
    text-align: center;
  }
  .payment-step-2 .method-title {
    display: block;
    height: 20px;
  }
  @media (width: 992px) {
    .payment-methods {
      color: inherit;
    }
    .payment-step-2 .section {
      margin-left: 20px;
    }
    .payment-step-2 .image-container-section {
      display: block;
      padding-top: 80px;
    }
    .payment-step-2 .section .payment-methods .payment-method .radio-container {
      padding: 25px !important;
      margin-bottom: 10px;
    }
  }
  @media (max-width: 991px) {
    .payment-step-2 {
      background-color: white;
      box-shadow: none !important;
    }
    .payment-step-2 .image-container-section {
      display: none;
    }
    .payment-step-2 .section .payment-methods .payment-method .radio-container {
      padding: 20px !important;
      margin: 10px;
      order: 3;
    }
  }
  .payment-step-2 .section {
    flex-grow: 1;
    padding-left: 0;
  }
  .payment-step-2 .section .explanation {
    display: flex;
    flex-direction: column;
    color: #838383;
    line-height: 1.5;
    font-weight: 300;
  }
  .payment-step-2 .section .explanation .title {
    font-size: 20px;
  }
  .payment-step-2 .section .explanation .description {
    align-self: center;
    font-size: 14px;
    max-width: 90%;
  }
  .payment-step-2 .section .payment-methods .payment-method {
    padding-top: 10px;
    text-align: center;
  }
  .payment-step-2 .section .payment-methods .payment-method span {
    font-weight: bold;
  }
  .payment-step-2 .section .payment-methods .payment-method .icon-container {
    padding-top: 8px;
    padding-bottom: 20px;
    height: 80px;
  }
  .payment-step-2 .section .payment-methods .payment-method .radio-container {
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #d6d6d6;
  }
  .payment-step-2 .section .payment-methods .payment-method .radio-container:hover {
    border: 1px solid #61304b;
    color: #61304b;
  }
  .payment-step-2 .section .payment-methods .payment-method .radio-container input {
    margin-right: 5px;
  }
  @media (max-width: 992px) {
    .payment-step-2 .section .payment-methods .payment-method {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eaeaea;
      width: 100%;
    }
    .payment-step-2 .section .payment-methods .payment-method span {
      margin-top: 30px;
      padding-left: 20px;
      width: 20%;
      order: 2;
      text-align: justify;
    }
    .payment-step-2 .section .payment-methods .payment-method .radio-container-mobile {
      display: block;
      margin-top: 28px;
    }
    .payment-step-2 .section .payment-methods .payment-method .icon-container {
      padding-top: 22px;
      order: 1;
      width: 10%;
      text-align: justify;
    }
    .payment-step-2 .payment-methods {
      flex-direction: column;
    }
  }
  .payment-step-2 .section:last-child {
    padding: 10px;
    /*border-left: 1px solid #d2d2d2;*/
    height: auto;
    text-align: center;
  }

  .moneylabel{
      display: inline-block;
      font-size: 22px;
      text-decoration: underline;
  }

  .moneynumber{
    display: inline-block;
    font-size: 20px;
    text-align: right;
}

.moneyhyphen{
    color: #000;
    border-top: 1px solid rgb(128, 128, 128)!important;
    border-top-width: 2px;
}

.moneyrow .btn-block {
    display: inline-block!important;
    margin-top: 26px!important;
}

#appbundle_changepassword label{
    color: #333
}

.attractive .item_image{
    border: 1px #7B506F solid;
}


a.attractive{
    background-color: #ead7d166;
}

.check-to-delete{
    width: 16px;
    height: 16px;
}

 

 
#header .header_aside .myAccount .button-flat{
    position: relative;
}
#header .header_aside .myAccount .button-flat>.nickname span{
    top:10px;
    position: absolute;
    right:10px;
    font-size:.7em;
    background:#0183D5;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
}

.show-message-content{
    min-height: 110px;
}

#header .header_aside .myAccount .button-flat>.nickname span {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
}

.checklabel{
    position: absolute;
    left: 160px;
    line-height: 1.42857143;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid transparent;
    top: -15px;
    padding: 6px 12px;
    border-radius: 4px;
    color: #fff;
    background-color: #f0ad4e;
}


/*** Thank You Page ***/


@font-face {
    font-family: Akkurat-Regular;
    src: url(../font/akkurat/lineto-akkurat-regular.eot);
    src: url(../font/akkurat/lineto-akkurat-regular.eot?#iefix) format("embedded-opentype"), url(../font/akkurat/lineto-akkurat-regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

.cf:after,
.cf:before {
    content: " ";
    display: table
}

.cf:after {
    clear: both
}

* {
    box-sizing: border-box
}

html {
  
}

body {
 
}

.thany-you-page{
    font-size: 16px;
    background-color: #fffffe;
    padding: 0 20px;
    min-width: 300px;
    font-family: Akkurat-Regular, sans-serif;
    color: #1a1a1a;
    text-align: center;
    word-wrap: break-word;
    -webkit-font-smoothing: antialiased
}

 

 

.site-header {
    margin: 0 auto;
    padding: 80px 0 0;
    max-width: 820px
}

.site-header__title {
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto
}

.main-content {
    margin: 0 auto;
    max-width: 820px
}

.main-content__checkmark {
    font-size: 4.0625rem;
    line-height: 1;
    color: #24b663
}

.main-content__body {
    margin: 20px 0 0;
    font-size: 2.25rem;
    line-height: 1.4
}

.site-footer {
    margin: 0 auto;
    padding: 80px 0 25px;
    padding: 0;
    max-width: 820px
}

.site-footer__fineprint {
    font-size: .9375rem;
    line-height: 1.3;
    font-weight: 300
}

@media only screen and (min-width:40em) {
    .site-header {
        padding-top: 150px
    }
    .site-header__title {
        font-size: 6.25rem
    }
    .main-content__checkmark {
        font-size: 9.75rem
    }
    .main-content__body {
        font-size: 2.25rem;
    }
    .site-footer {
        padding: 145px 0 25px
    }
    .site-footer__fineprint {
        font-size: 1.125rem
    }
}

.mobile-show-filter{
    display: none;
}

.mobile-show-filter.show{
    display: block;
}

#appbundle_user_status label{
     
    color: #333;
    font-weight: bold;
    margin: 1px;
    display: block;
}

#appbundle_user_status input[type="radio"]:focus {
    outline: none;
}

#appbundle_user_status input[type="radio"]{
    float: left;
}

#appbundle_user_status div.checkbox{
    min-width: 140px;
}

.renewedad{
    left: 50%;
    bottom: 16px;
    position: absolute;
}

.normal_login{
    color: #1a1a1a !important;
}

.espace-content .list-group-item.action-item{
    background-color: #B7E1FF;
    border: 1px solid #ddd;
    margin-bottom: 9px;
    text-transform: capitalize;
}

.espace-content .list-group-item a{
    color: #333;
    font-weight: 600;
}

.espace-content .list-group-item.card-menu-item-active{
    background-color: #145E89;
    box-shadow: 1px 2px 3px #145E89;
} 

.espace-content .list-group-item.card-menu-item-active a{
   color: beige;
} 
