{% extends 'layoutAdmin.html.twig'%}

{% block content %}
   <div class="row">
         <div class="col-md-12">
            <div class="row"> {% include 'FlashMessages/FlashMessages.html.twig'%} </div>
                                              
                         
                
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="purple">
                                    <i class="material-icons">assignment</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Liste des demandes de vitrine</h4>
                                  
                                   <div class="material-datatables">
                                        <table id="table-requests" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                            <thead>
                                                <tr >
                                                     <th class="text-center">ID</th>
                                                     <th class="text-center">name</th>
                                                     <th class="text-center">phone</th>
                                                     <th class="text-center">Activité</th>
                                                     <th class="disabled-sorting text-center">Actions</th>
                                                </tr>
                                            </thead>
                                            <tfoot>
                                                <tr class="text-center">
                                                    <th class="text-center">ID</th>
                                                    <th class="text-center">name</th>
                                                    <th class="text-center">phone</th>
                                                    <th class="text-center">Activité</th>
                                                    <th class="text-center">Statu</th>
                                                    <th class="disabled-sorting text-center">Actions</th>
                                                </tr>
                                            </tfoot>
                                            <tbody>
                                                {% for req in reqs %}
                                                    <tr class="text-center" id="{{req.id}}">
                                                      <td>{{ req.id }}</td>
                                                      <td>{{ req.name }}</td>
                                                      <td>{{ req.phone }}</td>
                                                      <td>{{ req.activity }}</td>
                                                      

                                                      {% if req.status is null %}
                                                            <td class="status-cell">En Attent</td>
                                                      {% else %}
                                                            <td class="status-cell">{{ req.status ? 'Activé':'Desactivé' }}</td>                                                            
                                                      {% endif %}
                                                     </td>
                                                      <td class="text-center">
                                                       <a href="#" class="btn btn-simple btn-success btn-icon remove requestenable" data-toggle="modal" data-target="#modal-{{req.id}}"><i class="material-icons">done</i></a>
                                                        <a href="#" class="btn btn-simple btn-danger btn-icon remove requestdisable" data-toggle="modal" data-target="#modal-{{req.id}}"><i class="material-icons">do_not_disturb</i></a>
                                                    </td>
                                                    </tr>
                                                {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- end content-->
                            </div>
                            <!--  end card  -->
                        </div>
                        <!-- end col-md-12 -->
                    </div>

{% endblock %}




